{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}
{% import "_helpers/_project.html" as project_helpers %}

{% block content %}

{{ project_helpers.render_title(project, 'Audit Logs') }}
<div class="card my-4">
    {{ card_helpers.render_title('Audit logs', 'All actions registered for the project') }}
    {% if logs %}
    <div class="table-responsive">
        <table class="table table-hover table-striped mb-0">
            {{ table_helpers.render_head(['When', 'Who', 'Source', 'Action', 'Attribute']) }}
            <tbody>
                {% for log in logs | sort(reverse=True, attribute='created') %}
                {{ table_helpers.render_row(['<a href="#" data-toggle="modal" data-target="#modal-log-{0}">{1}-{2}-{3}, {4}</a>
                                             '.format(log.id, log.created[8:10], log.created[5:7], log.created[0:4], log.created[11:16]),
                                             log.user_name, log.caller, log.action, log.attribute]) }}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <hr>
    <p class="lead text-center">No logs so far.</p>
    {% endif %}
</div>

<!-- Modals to show old and new values for each entry -->
{% for log in logs %}
<div id="modal-log-{{log.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5>{{log.created[8:10]}}-{{log.created[5:7]}}-{{log.created[0:4]}}, {{log.created[11:16]}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Old Value</h6>
                        {{(log.old_value or "Nothing")}}
                    </div>
                    <div class="col-md-6">
                        <h6>New Value</h6>
                        {{(log.new_value or "Nothing")}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
