{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "auditlog" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}
{{ general_helpers.render_title(project.name, 'Audit Logs') }}
<div class="card">
    {{ card_helpers.render_title('Audit logs', 'All activities affecting the project', search_table="#audit-table") }}
    <div id="audit-table" class="table-responsive">
        <table class="table table-hover table-striped mb-0">
            {{ table_helpers.render_head(['When', 'Who', 'Source', 'Action', 'Attribute', 'Action'], center_indexes=[6]) }}
            <tbody>
                {% for log in logs | sort(reverse=True, attribute='created') %}
                <tr>
                    {{ table_helpers.render_cell(general_helpers.format_date(log.created)) }}
                    {{ table_helpers.render_cell(log.user_name) }}
                    {{ table_helpers.render_cell(log.caller) }}
                    {{ table_helpers.render_cell(log.action) }}
                    {{ table_helpers.render_cell(log.attribute) }}
                    <td class="visible text-center">
                        <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modal-log-{{ log.id }}" role="button">View
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {{ table_helpers.render_no_data_row(6) }}
            </tbody>
        </table>
    </div>
</div>

<!-- Modals to show old and new values for each entry -->
{% for log in logs %}
<div id="modal-log-{{log.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5>{{ general_helpers.format_date(log.created, appendTime=True) }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Old Value</h6>
                        {{ (log.old_value or "Nothing") }}
                    </div>
                    <div class="col-md-6">
                        <h6>New Value</h6>
                        {{ (log.new_value or "Nothing") }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" role="button">OK</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
