{% extends "_layouts/default.html" %}
{% set active_page = "projects" %}
{% set full_width = True %}
{% set hide_title = True %}
{% set no_pattern = True %}
{% import "_helpers/_project.html" as project_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_general.html" as general_helpers %}
{% import "_helpers/_category.html" as category_helpers %}

{% block content %}
<section class="pattern-white-wall w-100">
    <div class="container pt-3">
        {{ category_helpers.render_strip(categories, active_cat=active_cat, current_user=current_user) }}
        <div class="my-2 mx-4">
        {{ project_helpers.render_grid_shuffle_controls() }}
        </div>
    </div>
</section>

<section class="bg-white w-100 bst-inset">
    <div class="container pt-4">
    {% if projects %}
        {{ project_helpers.render_grid(projects, shuffle=True) }}
        {% if pagination.pages > 1 %}
            {{ general_helpers.render_pagination(pagination) }}
        {% endif %}
    {% else %}
        <p class="lead pt-4 mb-0 text-center">Sorry, there are no published projects for this category yet.</p>
    {% endif %}
    </div>
</section>

{% endblock %}