{% extends "_layouts/default.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_project.html" as project_helpers %}
{% import "_helpers/_card.html" as card_helpers %}

{% block content %}

<section class="pattern-white-wall pt-5">
    <div class="container">
        <div class="d-flex flex-row align-items-center justify-content-center">
            <span class="fa fa-chevron-left mr-2 scroll-target" data-target="#categories-strip" data-direction="left" role="button"></span>
            <div id="categories-strip" class="card-strip">
                {% for c in categories %}
                    {{ card_helpers.render_icon_button(c.name, url_for('project.project_cat_index', category=c.short_name), icon=c.short_name,
                       tooltip=c.description, active=(active_cat.short_name==c.short_name)) }}
                {% endfor %}
                {% if current_user.is_authenticated() and current_user.admin %}
                    {{ card_helpers.render_icon_button('Draft', url_for('project.draft'), icon="draft", tooltip='Unpublished projects',
                    active=(active_cat.short_name=='draft')) }}
                {% endif %}
            </div>
            <span class="fa fa-chevron-right ml-2 scroll-target" data-target="#categories-strip" data-direction="right" role="button"></span>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <form class="form-inline d-flex flex-row align-items-center justify-content-center justify-content-md-end">
                    <div class="my-2 d-flex align-items-center mr-4">
                        <div class="toggle-group mr-2">Hide completed projects:</div>
                        <div class="toggle-group">
                            <div class="toggle">
                                <input checked="true" class="toggle-checkbox shuffle-checkbox" type="checkbox" id="show-all" data-group="incomplete">
                                <label class="toggle-label" for="show-all">
                                    <span class="toggle-inner"></span>
                                    <span class="toggle-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-2 mr-4">
                        <label for="project-sort-options" class="mr-2">Sort:</label>
                        <select class="shuffle-sort custom-select" id="project-sort-options">
                            <option value="name">Title</option>
                            <option value="created">Created</option>
                            <option value="progress">Progress</option>
                        </select>
                    </div>
                    <input type="text" class="form-control rounded-oblong shuffle-search mr-2 my-2" placeholder="Search">
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-center pt-5 pb-4">
        {% if projects %}
            {{ project_helpers.render_grid(projects, shuffle=True) }}
            {% if pagination.pages > 1 %}
            <div class="d-flex justify-content-center w-100 mt-4">
                {{ project_helpers.render_pagination(pagination) }}
            </div>
            {% endif %}
        {% else %}
            <p class="lead mb-0">Sorry, there are no published projects for this category yet.</p>
        {% endif %}
    </div>
</section>

{% endblock %}