{% extends "_layouts/dist/default.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_form.html" as form_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}
<div class="card">
    {{ card_helpers.render_title('Project Details', 'Begin your journey to change the future of modern acedemic research forever') }}
    <div class="card-block pt-0">
        <form method="POST" action="{{ url_for('project.new') }}">
            {{ form.hidden_tag() }}
            {{ form_helpers.render_field(form.name, placeholder="The name of the project", class_="form-control", required="required", autofocus="autofocus") }}
            {{ form_helpers.render_field(form.short_name, placeholder="A shortcut for URLs and filenames", class_="form-control", required="required") }}
            {{ form_helpers.render_field(form.long_description, class_="form-control", rows="13", label_text="Long description", placeholder="Long description (use Markdown)!", required="required") }}
            <div class="text-right">
                <a href="{{url_for('account.profile', name=current_user.name)}}" class="btn btn-outline-secondary" role="button">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success" role="button" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
