{% extends "_layouts/presenter.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_form.html" as form_helpers %}

{% block content %}
<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
<span class="icon icon-padlock icon-5x"></span>
<p class="display-5 my-1">Project Locked</p>
<form method="POST" action="{{ url_for('project.password_required', short_name=short_name, next=next) }}" class="w-50">
    {{ form.hidden_tag() }}
    {{ form_helpers.render_field(form.password, placeholder="Enter the password" ,class_="form-control", required="required", type="password")}}
    <div class="text-right">
    <a href="{{ url_for('project.index') }}" class="btn btn-outline-secondary" role="button">Cancel</a>
    <button type="submit" value="Submit" class="btn btn-success" role="button">Submit</button>
</div>
</form>
{% endblock %}
