{% extends "_layouts/presenter.html" %}
{% set active_page = "projects" %}
{% set jstop = True %}

{% block content %}

<!-- TODO: Replace this?
<script type="text/javascript" src="{{url_for('static', filename='vendor/specialedit/specialedit.js')}}"></script>

-->

{% assets filters="jsmin", output="js/gen/presenter.min.js",
    "../node_modules/pace-progress/pace.js",
    "../node_modules/jquery/dist/jquery.js",
    "../node_modules/tether/dist/js/tether.js",
    "../node_modules/bootstrap/dist/js/bootstrap.js",
    "../node_modules/openseadragon/build/openseadragon/openseadragon.js",
    "../node_modules/openseadragonselection/dist/openseadragonselection.js",
    "../node_modules/pnotify/dist/pnotify.js",
    "../node_modules/pnotify/dist/pnotify.buttons.js",
    "../node_modules/bootstrap-toggle/js/bootstrap-toggle.js",
    "../node_modules/tesseract.js/dist/tesseract.js",
    "js/notify.js",
    "js/log-error.js",
    "js/image-error.js",
    "js/pybossa.js/pybossa.js"
    %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if invite_new_volunteers %}
<div class="text-center mt-5">
    <p class="lead">
        Great, you've contributed to all the tasks for this project.
        But this project still needs more volunteers, so please spread the word!
    </p>
    <a href="{{ url_for('home.home') }}"><span class="fa fa-home fa-3x"></span></a>
</div>
{% else %}
<script>
    const currentUserName = '{{ current_user.name }}' || null;
    console.log(currentUserName);
</script>
{{ project.info.task_presenter | safe }}
{% endif %}

{% endblock %}