{% extends "_layouts/splash.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_project.html" as project_helpers %}
{% import "_helpers/_social.html" as social_helpers %}
{% set description = project.description %}

{% block content %}

<div class="jumbotron jumbotron-fullscreen invert-navbar jumbotron-fade mb-0 d-flex align-items-center justify-content-center"
     style="background-image: url('{{ project.info['splash'] }}');">
    <div class="container text-white text-center">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="font-weight-bold">{{ project.description }}</h3>
                <div class="btn btn-circle mx-auto hidden-md-down mt-4">
                    <a href="{{ url_for('project.presenter', short_name=project.short_name)}}">
                        <div class="my-3"><span class="fa fa-play fa-4x ml-2"></span></div>
                        <div class="my-4">Get Started</div>
                    </a>
                </div>
                <a href="{{ url_for('project.presenter', short_name=project.short_name)}}" class="btn btn-outline-white hidden-lg-up mt-2">Get Started</a>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container mb-5">
        <div class="row text-center">
            <p class="ml-auto"><small>{{ project.info['splash_attribution'] | safe }}</small></p>
        </div>
        <div class="row text-center mt-5">
            <div class="col-sm-10 offset-sm-1">
                <h2 class="font-family-serif display-4 mb-0">
                    {{ project.name }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <hr class="my-4">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-10 offset-sm-1 text-center d-flex justify-content-around align-items-center">
                <div class="hidden-md-down mb-5">
                    <span class="fa fa-star-o fa-3x pb-1"></span>
                    <p class="mb-0">Contributions</p>
                    <hr class="bw-2 my-1 w-75">
                    <p class="lead mb-2">{{ n_task_runs }}</p>
                </div>
                <div class="hidden-md-down mb-5">
                    <span class="fa fa-tasks fa-3x pb-1"></span>
                    <p class="mb-0">Completed Tasks</p>
                    <hr class="bw-2 my-1 w-75">
                    <p class="lead mb-2">{{ n_completed_tasks }}</p>
                </div>
                <div>
                    <div data-progress="{{ overall_progress | round | int }}" class="progress-circle mb-2">
                        <p>{{ overall_progress | round | int }}%</p>
                    </div>
                    <a href="{{ url_for('project.show_stats', short_name=project.short_name) }}" class="btn btn-secondary mt-4" role="button">View Statistics</a>
                </div>
                <div class="hidden-md-down mb-5">
                    <span class="fa fa-clock-o fa-3x pb-1"></span>
                    <p class="mb-0">Last Activity</p>
                    <hr class="bw-2 my-1 w-75">
                    <p class="lead mb-2">{{ last_activity | pretty_date }}</p>
                </div>
                <div class="hidden-md-down mb-5">
                    <span class="fa fa-users fa-3x pb-1"></span>
                    <p class="mb-0">Volunteers</p>
                    <hr class="bw-2 my-1 w-75">
                    <p class="lead mb-2">{{ n_volunteers }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-faded">
    <div class="container">
        <div class="row pt-5 text-center">
            <div class="col-sm-10 offset-sm-1">
                <h3 class="text-uppercase font-weight-bold display-4">About the project</h3>
                <hr class="bw-3 mx-5 mt-4">
            </div>
        </div>
        {% if project.info.get('tutorial_video') %}
        <div class="row mt-3 text-center">
            <div class="col-sm-10 offset-sm-1">
                {{ project.info['tutorial_video'] | safe }}
            </div>
        </div>
        {% endif %}
        <div class="row pt-3 pb-5">
            <div class="col-sm-10 offset-sm-1">
                {{ project.long_description | e | markdown }}
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-10 offset-sm-1 text-center">
                <h3 class="text-uppercase display-4">Get Involved</h3>
                <p class="lead">Your contributions will have a direct impact on enabling future reasearch at the British Library.<p>
                <a href="{{ url_for('project.presenter', short_name=project.short_name) }}" class="btn btn-outline-primary btn-lg my-3" role="button">Contribute Now</a>
                <hr class="bw-3 w-50 pb-3">
                {{ social_helpers.render_social_media_buttons("www.libcrowds.com/project/{{ project.short_name }}", "{{ project.description }}") }}
            </div>
        </div>
</section>

{% endblock %}