{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_project.html" as project_helpers %}

{% block content %}

{{ project_helpers.render_title(project, 'Publish') }}
<div class="alert alert-info">
    <p>
        You are about to publish your project, this cannot be undone! Once your project has been published,
        people will be able to contribute to it and answers will begin to be stored.
    </p>
</div>
<form method="POST" action="{{ url_for('project.publish', short_name=project.short_name) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="text-right">
        <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn btn-secondary" role="button">Cancel</a>
        <button type="submit" class="btn btn-success">Publish</button>
    </div>
</form>

{% endblock %}