{% extends "_layouts/dist/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "settings" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}
{{ general_helpers.render_title(project.name, 'Project Settings') }}
<div class="row">
{{ card_helpers.render_button('Edit Details', 'Edit the project details', url_for('project.update', short_name=project.short_name), 'fa-file-text-o') }}
{{ card_helpers.render_button('Delete', 'Delete the project', url_for('project.delete', short_name=project.short_name), 'fa-trash') }}
{{ card_helpers.render_button('Publish', 'Publish the project', url_for('project.publish', short_name=project.short_name), 'fa-thumbs-up') }}
</div>
{% endblock %}