{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_project.html" as project_helpers %}

{% block content %}

{{ project_helpers.render_title(project, 'Settings') }}
<div class="container">
    <p class="lead">All settings are available via the project dashboard page.</p>
    <div class="text-right">
        <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn btn-primary" role="button">View Dashboard</a>
    </div>
</div>

{% endblock %}