{% extends "_layouts/dist/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "tasks" %}
{% import "_helpers/_general.html" as general_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_form.html" as form_helpers %}

{% block content %}
{{ general_helpers.render_title(project.name, 'Task Priority') }}
<div class="card">
    {{ card_helpers.render_title('Priority', 'Set priority for a list of tasks (only respected by the default scheduler)') }}
    <div class="card-block pt-0">
        <form method="POST" action="{{ url_for('project.task_priority', short_name=project.short_name) }}">
            {{ form.hidden_tag() }}
            {{ form_helpers.render_field(form.task_ids, class_="form-control", placeholder="Comma separated task IDs (e.g. 3, 532, 100)", required="required", autofocus="autofocus")}}
            {{ form_helpers.render_field(form.priority_0, class_="form-control", placeholder="Priority between the lowest of 0.0 and highest of 1.0", required="required", type="number", step="any")}}
            <div class="text-right">
                <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn btn-outline-secondary" role="button">Cancel</a>
                <input id="submit" type="submit" value="Update" class="btn btn-success" role="button"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
