{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "dashboard" %}
{% set sidebar = "project" %}
{% import "_helpers/_dashboard.html" as dashboard_helpers %}

{% block content %}

<section>
    <div class="container mb-5">
        <div class="card-deck">
            {{ dashboard_helpers.render_stat('fa-tasks', n_completed_tasks, 'Tasks completed', 'Total tasks: {}'.format(n_tasks)) }}
            {{ dashboard_helpers.render_stat('fa-bullseye', '{}%'.format(overall_progress), 'Complete', 'Project created: {}'.format(project.created | pretty_date)) }}
            {{ dashboard_helpers.render_stat('fa-users', n_volunteers, 'Volunteers', 'Last activity: {}'.format(last_activity)) }}
        </div>
        <div class="card-deck hidden-lg-up">
            {{ dashboard_helpers.render_button('fa-pencil-square-o', 'Edit Task Presenter', url_for('project.task_presenter_editor', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-file-o', 'Edit Details', url_for('project.update', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-hand-o-right', 'Contribute', url_for('project.presenter', short_name=project.short_name)) }}
        </div>
        <div class="card-deck hidden-lg-up">
            {{ dashboard_helpers.render_button('fa-calendar', 'Results', url_for('project.results', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-link', 'Statistics', url_for('project.show_stats', short_name=project.short_name)) }}
            {% if config.get('LIBCROWDS_ANALYST_URL') %}
            {{ dashboard_helpers.render_button('fa-thumbs-up', 'Publish', '{0}/projects/{1}?api_key={2}'.format(config['LIBCROWDS_ANALYST_URL'], project.short_name, current_user.api_key)) }} Analysis
            {% endif %}
        </div>
        <div class="card-deck">
            {{ dashboard_helpers.render_button('fa-upload', 'Import Tasks', url_for('project.import_task', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-download', 'Auto-import Tasks', url_for('project.setup_autoimporter', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-download', 'Export Data', url_for('project.export_to', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-list-alt', 'Browse Tasks', url_for('project.tasks_browse', short_name=project.short_name)) }}
        </div>
        <div class="card-deck">
            {{ dashboard_helpers.render_button('fa-repeat', 'Task Redundancy', url_for('project.task_n_answers', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-sort-numeric-asc', 'Task Priority', url_for('project.task_priority', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-trash-o', 'Delete Tasks', url_for('project.delete_tasks', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-trash', 'Delete Project', url_for('project.delete', short_name=project.short_name)) }}
        </div>
        <div class="card-deck">
            {{ dashboard_helpers.render_button('fa-filter', 'Task Scheduler', url_for('project.task_scheduler', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-calendar', 'Audit Logs', url_for('project.auditlog', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-link', 'Webhooks', url_for('project.webhook_handler', short_name=project.short_name)) }}
            {{ dashboard_helpers.render_button('fa-thumbs-up', 'Publish', url_for('project.publish', short_name=project.short_name)) }}
        </div>
    </div>
</section>

{% endblock %}