{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "tasks" %}
{% import "_helpers/_general.html" as general_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_form.html" as form_helpers %}

{% block content %}
{{ general_helpers.render_title(project.name, 'Task Scheduler') }}
<div class="card">
    {{ card_helpers.render_title('Scheduler', 'Present tasks depth first (the default), breadth first (least contributions) or random order') }}
    <div class="card-block">
        <div class="alert alert-warning">
            With the breadth first and random schedulers tasks will never be marked as completed as task redundancy is not
            respected and users can be presented with the same task more than once.
        </div>
        <form method="post" action="{{ url_for('project.task_scheduler', short_name=project.short_name) }}">
            {{ form.hidden_tag() }}
            {{ form_helpers.render_field(form.sched, class_="form-control")}}
            <div class="text-right">
                <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn btn-secondary" role="button">Cancel</a>
                <input id="submit" type="submit" value="Update" class="btn btn-success" role="button"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
