{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "tasks" %}
{% import "_helpers/_project.html" as project_helpers %}
{% import "_helpers/_card.html" as card_helpers %}

{% block content %}

{{ project_helpers.render_title(project, 'Auto-import Tasks', 'Use one of the following importers to auto-import tasks') }}

{% for row in available_importers | batch(3) %}
<div class="card-deck">
    {% for importer in row %}
        {% include importer %}
    {% endfor %}
</div>
{% endfor %}
            
{% endblock %}
