{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "tasks" %}
{% import "_helpers/_form.html" as form_helpers %}
{% set contained = False %}

{% block content %}
<form method="POST" action="{{ url_for('project.task_presenter_editor', short_name=project.short_name) }}">
    {{ form.hidden_tag() }}
    <div class="fixed-top m-5 p-3">
        <div class="btn-group d-flex justify-content-end">
            <a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-sm btn-outline-secondary btn-bg-white" role="button">Cancel</a>
            <button type="submit" class="btn btn-sm btn-outline-primary btn-bg-white" role="button">Update</button>
        </div>
    </div>
    {{ form.editor }}
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/dist/editor-bundle.js') }}"></script>
{% endblock %}
