{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "tasks" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}
{{ general_helpers.render_title(project.name, 'Browse Tasks') }}
<div class="card">
    {{ card_helpers.render_title('Tasks', 'The project contains {0} tasks'.format(n_tasks), search_table="#tasks-table") }}
    <div id="tasks-table" class="table-responsive">
        <table class="table table-hover table-striped mb-0">
            {{ table_helpers.render_head(['Task ID', 'Contributions', 'Redundancy', 'Progress', 'Data']) }}
            <tbody>
                {% for t in tasks %}
                {{ table_helpers.render_row([t.id, t.n_task_runs, t.n_answers, (t.pct_status*100) | round | int,
                                             '<a class="btn btn-sm btn-outline-primary" href="{0}">View</a>'.format(url_for('project.export', short_name=project.short_name, task_id=t.id))]) }}
                {% endfor %}
                {{ table_helpers.render_no_data_row(4) }}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
