{% extends "_layouts/default.html" %}
{% set active_page = "projects" %}
{% set prefix = project.name %}
{% set title = "Tutorial" %}

{% block content %}
<div class="card">
    <div class="card-block">
        {% if project.info.tutorial %}
        {{ project.info.tutorial | safe }}
        {% else %}
        <p class="lead text-center">No tutorial has been created for this project.</p>
        {% endif %}
    </div>
</div>
<div class="text-center">
    <a href="{{ url_for('project.presenter', short_name=project.short_name) }}" 
       class="btn btn-outline-primary bg-white btn-lg mt-4" role="button">Get Started</a>
</div>
{% endblock %}