{% extends "_layouts/default.html" %}
{% set active_page = "projects" %}
{% set prefix = project.name %}
{% set title = "Tutorial" %}
{% set title_link=[url_for('project.presenter', short_name=project.short_name), 'Get Started'] %}

{% block content %}
<div class="card">
    <div class="card-block my-2">
        {% if project.info.tutorial %}
        {{ project.info.tutorial | safe }}
        {% else %}
        <p class="lead text-center">No tutorial has been created for this project.</p>
        {% endif %}
    </div>
    <hr class="w-100 my-0">
    <div class="card-block text-center my-2">
        <a href="{{ url_for('project.presenter', short_name=project.short_name) }}" class="btn btn-outline-primary btn-lg" role="button">Get Started</a>
    </div>
</div>
{% endblock %}