{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "settings" %}
{% import "_helpers/_general.html" as general_helpers %}
{% import "_helpers/_project.html" as project_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_form.html" as form_helpers %}

{% block content %}
{{ general_helpers.render_title(project.name, 'Project Details') }}
    <div class="card">
        {{ card_helpers.render_title('Thumbnail', 'Upload a thumbnail image') }}
        <div class="card-block">
            <div class="my-2 text-center">
                {{ project_helpers.render_thumbnail(project, upload_method, class="img-thumbnail", width="300", id="uploadPreview") }}
            </div>
            <form method="POST" action="{{ url_for('project.update', short_name=project.short_name) }}" enctype="multipart/form-data">
                {{ upload_form.hidden_tag() }}
                {{ form_helpers.render_field(upload_form.avatar, class="form-control hidden", show_label=False) }}
                {{ upload_form.x1 }}
                {{ upload_form.y1 }}
                {{ upload_form.x2 }}
                {{ upload_form.y2 }}
                <div class="text-right">
                    <input type="reset" value="Clear" class="btn btn-secondary" role="button" />
                    <button type="submit" name="btn" value="Upload" class="btn btn-success" role="button">Update</button>
                </div>
            </form>
        </div>
    </div>

<div class="card mt-4">
    {{ card_helpers.render_title('Details', 'Edit the project details') }}
    <div class="card-block">
        <form method="POST" action="{{ url_for('project.update', short_name = project.short_name) }}">
            {{ form.hidden_tag() }}
            {{ form_helpers.render_field(form.name, class="form-control", placeholder="Name", required="required", autofocus="autofocus") }}
            {{ form_helpers.render_field(form.short_name, class="form-control", placeholder="Short name", label_text="Short name") }}
            {{ form_helpers.render_field(form.description, class="form-control", placeholder="Short description", required="required", pattern=".{0,255}", title="Must be a maximum of 255 characters") }}
            {{ form_helpers.render_field(form.long_description, rows="13", placeholder="Explain the project (use Markdown)!", class="form-control", required="required") }}
            {{ form_helpers.render_field(form.category_id, class="form-control") }}
            {{ form_helpers.render_toggle(form.allow_anonymous_contributors, label_text="Allow anonymous contributors") }}
            {{ form_helpers.render_toggle(form.protect, label_text="Password protect") }}
            {{ form_helpers.render_field(form.password, class="form-control") }}
            {{ form_helpers.render_field(form.webhook, class="form-control") }}
            <div class="text-right">
                <a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-secondary" role="button">Cancel</a>
                <input type="submit" value="Update" class="btn btn-success" role="button" />
            </div>
        </form>
    </div>
</div>

{% endblock %}
