{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% set active_link = "webhook" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}

{{ general_helpers.render_title(project.name, 'Webhooks') }}
<div class="card">
    {{ card_helpers.render_title('Webhooks', 'Details of all webhooks sent', search_table="#webhooks-table") }}
    <div id="webhooks-table" class="table-responsive">
        <table class="table table-hover table-striped mb-0">
            {{ table_helpers.render_head(['Created', 'Updated', 'Payload', 'Response', 'Code', 'Repeat']) }}
            <tbody>
                {% for r in responses | sort(reverse=True, attribute='updated') %}
                {{ table_helpers.render_row([r.created, r.updated, r.payload, r.response, r.response_status_code,
                                             '<button class="btn btn-sm btn-outline-primary send-webhook" data-project-short-name="{0}" data-webhook-id="{1}" role="button">Send</button>'.format(project.short_name, r.id)]) }}
                {% endfor %}
                {{ table_helpers.render_no_data_row(6) }}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}