{% extends "_layouts/dist/default.html" %}
{% import "_helpers/_card.html" as card_helpers %}

{% block content %}
<div class="card">
    {{ card_helpers.render_title('Nearly There', 'Just one more step') }}
    <div class="card-block pt-0">
        <p class="lead">
            In order to confirm your identity we've sent a link to the email address provided, please click on it to finish creating your
            {{ config.BRAND }} account.
        </p>
        <p class="lead">
            If you have not received the email in the next couple of minutes please check your spam folder. If it's not there
            drop us an email at <a href="mailto:{{ config.CONTACT_EMAIL }}">{{ config.CONTACT_EMAIL }}</a>.
        </p>
        <div class="text-right">
            <a href="{{ url_for('home.home') }}" class="btn btn-outline-secondary" role="button">Home</a>
        </div>
    </div>
</div>
{% endblock %}
