{% extends "_layouts/default.html" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}
<div class="container my-5 pt-4">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            {{ general_helpers.render_title(prefix="", title="Newsletter") }}
        </div>
        <div class="col-sm-10 offset-sm-1">
            <div class="card">
                {{ card_helpers.render_title('Newsletter', 'Subscribe to out newsletter') }}
                <div class="card-block pt-1">
                    <p class="lead">
                        If you want to remain updated with new features, projects and developments subscribe to our newsletter.
                    </p>
                    <div class="text-right">
                        <a href="{{ url_for('account.newsletter_subscribe', subscribe=False, next=next) }}" class="btn btn-secondary" role="button">No thanks</a>
                        <a href="{{ url_for('account.newsletter_subscribe', subscribe=True, next=next) }}" class="btn btn-success" role="button">Sure, sign me up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
