{% extends "_layouts/default.html" %}
{% import "_helpers/_card.html" as card_helpers %}

{% block content %}
<div class="card">
    {{ card_helpers.render_title('Newsletter', 'Sign up to receive updates about the platform') }}
    <div class="card-block pt-0">
        <p class="lead">
            If you want to remain updated with new features, projects and developments subscribe to our newsletter.
        </p>
        <div class="text-right">
            <a href="{{ url_for('account.newsletter_subscribe', subscribe=False, next=next) }}" class="btn btn-outline-secondary" role="button">No thanks</a>
            <a href="{{ url_for('account.newsletter_subscribe', subscribe=True, next=next) }}" class="btn btn-outline-success" role="button">Sure, sign me up</a>
        </div>
    </div>
</div>
{% endblock %}
