{% extends "_layouts/dist/default.html" %}
{% import "_helpers/_form.html" as form_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% set title = "Reset Password" %}

{% block content %}
<div class="card">
    {{ card_helpers.render_title('Forgotten Password', 'Enter your email address to reset your password') }}
    <div class="card-block pt-0">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form_helpers.render_field(form.email_addr, placeholder="Enter your email address", class_="form-control", type="email", required="required", autofocus="autofocus" ) }}
            <div class="text-right">
                <a href="{{ url_for('account.signin') }}" class="btn btn-outline-secondary" role="button">Cancel</a>
                <input type="submit" value="Reset" class="btn btn-success" role="button" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
