{% extends "_layouts/default.html" %}
{% import "_helpers/_form.html" as form_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% set title = "Reset Password" %}

{% block content %}
<div class="card">
    {{ card_helpers.render_title('New Password', 'Choose a new password') }}
    <div class="card-block pt-0">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form_helpers.render_field(form.new_password, placeholder="New password", class_="form-control", type="password", required="required", pattern=".{6,}", title="Must be a minimum of 6 characters", autofocus="autofocus") }}
            {{ form_helpers.render_field(form.confirm, placeholder="Confirm new password", class_="form-control", type="password", required="required", pattern=".{6,}", title="Must be a minimum of 6 characters") }}
            <div class="text-right">
                <a href="{{ url_for('home.home') }}" class="btn btn-outline-secondary" role="button">Cancel</a>
                <input type="submit" value="Update" class="btn btn-outline-success" role="button" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
