{% extends "_layouts/default.html" %}
{% import "_helpers/_form.html" as form_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}
<div class="container my-5 pt-4">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            {{ general_helpers.render_title(prefix="", title="Reset Password") }}
        </div>
        <div class="col-sm-10 offset-sm-1">
            <div class="card">
                {{ card_helpers.render_title('Forgotten Password', 'Enter your email address to reset your password') }}
                <div class="card-block pt-1">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        {{ form_helpers.render_field(form.email_addr, placeholder="Enter your email address", class="form-control", type="email", required="required", autofocus="autofocus" ) }}
                        <div class="text-right">
                            <a href="{{ url_for('account.signin') }}" class="btn btn-secondary" role="button">Cancel</a>
                            <input type="submit" value="Reset" class="btn btn-success" role="button" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
