{% extends "_layouts/default.html" %}
{% set block_robots = True %}
{% set active_page = "profile" %}
{% set hide_title = True %}
{% set full_width = True %}
{% import "_helpers/_user.html" as user_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">
            {{ user_helpers.render_profile_card(current_user, upload_method, private=False) }}
        </div>
        <div class="col-lg-8">
            <div class="card mt-4 mt-lg-0">
                {{ card_helpers.render_title("Your Contributions", search_table="#projects-table") }}
                <div class="table-responsive">
                    <table id="project-table" class="table table-hover table-striped mb-0">
                        {{ table_helpers.render_head(['Name', 'Progress', 'Details'], center_indexes=[2, 3]) }}
                        <tbody>
                            {% for p in projects_contrib %}
                            <tr>
                                {{ table_helpers.render_cell(p.name) }}
                                {{ table_helpers.render_cell(p.overall_progress, center=True) }}
                                {{ table_helpers.render_cell('View', url=url_for('project.details', short_name=p.short_name), btn=True, center=True) }}
                            </tr>
                            {% endfor %}
                            {{ table_helpers.render_no_data_row(3) }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}