{% extends "_layouts/default.html" %}
{% set active_page = "projects" %}
{% set title = "Open Project" %}
{% set title_link=[url_for('project.new'), "Create a Project"] %}
{% import "_helpers/_project.html" as project_helpers %}

{% block content %}
{{ project_helpers.render_table("Published", "Your published projects", "published-projects-table", projects_published) }}
{{ project_helpers.render_table("Draft", "Your draft projects", "draft-projects-table", projects_draft, class="mt-4") }}
{% endblock %}