{% extends "_layouts/default.html" %}
{% set block_robots = True %}
{% set active_page = "profile" %}
{% set hide_title = True %}
{% set full_width = True %}
{% import "_helpers/_user.html" as user_helpers %}
{% import "_helpers/_project.html" as project_helpers %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4">
            {{ user_helpers.render_profile_card(user, upload_method) }}
        </div>
        <div class="col-lg-8">
            {{ project_helpers.render_list_table("Your Contributions", "The projects that {0} has contributed to".format(user.name), "projects-table", projects) }}
        </div>
    </div>
</div>
{% endblock %}