{% extends "_layouts/splash.html" %}
{% set active_page = 'about' %}
{% import "_helpers/_plugin.html" as plugin_helpers %}
{% import "_helpers/_nav.html" as nav_helpers %}

{% block content %}

<div class="floating style-navbar" data-navbar-class="navbar-light">
    {{ nav_helpers.render_sub_nav(['the-collection', 'objectives', 'technology', 'the-team', 'contact']) }}

    <section id="the-collection" class="bg-white p-3 p-md-5">
        <h2 class="text-uppercase display-4 text-center">The Collection</h2>
        <hr class="bw-3 w-75">
        {% filter markdown %}
        {% include 'custom/_collection.md' ignore missing %}
        {% endfilter %}
    </section>

    <section id="objectives" class="bg-faded text-gray-dark p-3 p-md-5">
        <h2 class="text-uppercase font-weight-bold display-5">Objectives</h2>
        <hr class="bw-2 w-75">
        {% filter markdown %}
        {% include 'custom/_collection.md' ignore missing %}
        {% endfilter %}
    </section>

    <section id="technology" class="bg-white text-gray-dark p-3 p-md-5">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-uppercase font-weight-bold display-5">Technology</h2>
                <hr class="bw-3 mr-lg-5">
            </div>
            <div class="col-lg-3 offset-lg-3 hidden-md-down">
                <a href="https://github.com/LibCrowds" target="_blank"><span class="fa fa-github fa-5x text-muted"></span></a>
            </div>
        </div>
        <p class="mt-3">
            The LibCrowds platform aims to increase access to the collections of the British Library
            through a range of experimental crowdsourcing projects. The platform was first launched in June 2015 with the
            Convert-a-Card project series, which used a new method for transforming printed card catalogues into
            electronic records.
        </p>
        <p>
            Each LibCrowds project series uses a seperate instance of <a href="http://docs.pybossa.com/">PyBossa</a>, which is
            an open-source framework for the creation of crowdsourcing projects. A custom theme provides targeted information
            for each project series and a range of Python plugins have been developed to provide additional
            functionality, such performing database searches via the Z39.50 protocol.
        </p>
        <p>
            The LibCrowds theme, all project templates and plugins are available on <a href="https://github.com/LibCrowds" target="_blank">GitHub</a>.
        </p>
        {{ plugin_helpers.render_active_plugins(plugins) }}
    </section>

    <section id="the-team" class="bg-faded text-gray-dark p-3 p-md-5">
        <h2 class="text-uppercase font-weight-bold display-5">The Team</h2>
        <hr class="bw-2 w-75">
        {% filter markdown %}
        {% include 'custom/_team.md' ignore missing %}
        {% endfilter %}
    </section>

    <section id="contact" class="bg-white">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 offset-lg-1">
                    <h3>Contact Details</h3>
                    <hr class="bw-2">
                </div>
                <div class="col-lg-10 offset-lg-1">
                    {% if 'pybossa_discourse' in plugins %}
                    <p>
                        Visit the <a href="{{ url_for('discourse.index') }}">{{ brand }}</a> forum to ask any questions, report issues, or just let us know what you've discovered,
                        or how you've made use of our data.
                    </p>
                    <p>
                        Alternatively, you can get in touch via:
                    </p>
                    {% endif %}
                    <ul class="list-unstyled">
                        <li><strong>Twitter: </strong><a href="https://twitter.com/{{ contact_twitter }}">@{{ contact_twitter }}</a></li>
                        <li><strong>Email: </strong><a href="mailto:{{ contact_email }}">{{ contact_email }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}
