{% extends "_layouts/splash.html" %}
{% import "_helpers/_project.html" as project_helpers %}
{% import "_helpers/_social.html" as social_helpers %}
{% import "_helpers/_user.html" as user_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}
<div id="home-jumbotron" class="jumbotron jumbotron-fullscreen invert-navbar jumbotron-fade mb-0">
    <div class="container text-center h-100 d-flex align-items-center justify-content-between flex-column">
        <div></div>
        <h1 class="mb-0 text-white w-75" data-aos="zoom-in" data-aos-duration="600">{{ title | safe }}</h1>
        <a href="#intro" data-aos="fade-up" data-aos-delay="600" data-aos-duration="400" data-aos-easing="ease-out-sine" data-aos-offset="0">
            <p class="mb-1 text-uppercase text-white">Scroll Down</p>
            <span class="fa fa-chevron-down fa-2x text-primary pulse"></span>
        </a>
    </div>
</div>

<section id="intro" class="py-5 text-center">
    <div class="container py-3">
        <div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-duration="600">
            <div class="col-sm-10 offset-sm-1">
                <h2 class="font-family-serif display-4 mb-0">
                    {{ description }}
                </h2>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
            <div class="col-sm-8 offset-sm-2">
                <hr class="my-4">
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
            <div class="col-sm-10 offset-sm-1">
                <p class="lead my-2">
                    Have a direct impact on enabling future research conducted at the British Library.
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="400" data-aos-duration="600" data-aos-offset="60">
            <div class="col-sm-8 offset-sm-2">
                <hr class="my-4">
            </div>
        </div>
        <div class="row" data-aos="fade-in" data-aos-delay="800" data-aos-duration="1000" data-aos-offset="0">
            <div class="col-md-4 my-3">
                <span class="icon icon-projects icon-6x"></span>
                <p id="n-projects" class="display-4 mb-2 global-stat"><span class="fa fa-circle-o-notch fa-spin"></span></p>
                <p class="lead my-1">Projects</p>
            </div>
            <div class="col-md-4 my-3">
                <span class="icon icon-contributions icon-6x"></span>
                <p id="n-contributions" class="display-4 mb-2 global-stat"><span class="fa fa-circle-o-notch fa-spin"></span></p>
                <p class="lead my-1">Contributions</p>
            </div>
            <div class="col-md-4 my-3">
                <span class="icon icon-volunteers icon-6x"></span>
                <p id="n-volunteers" class="display-4 mb-2 global-stat"><span class="fa fa-circle-o-notch fa-spin"></span></p>
                <p class="lead my-1">Volunteers</p>
            </div>
        </div>
    </div>
</section>

{% if categories_projects['featured'] %}
<section id="featured-projects" class="pattern-white-wall text-gray-dark text-center text-lg-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 pt-5">
                <h3 class="text-uppercase font-weight-bold display-4">Featured Projects</h3>
                <hr class="bw-3 mr-lg-5">
                <p class="text-uppercase mr-lg-6">
                    Help researchers everywhere to access our collections more easily
                    in the future.
                </p>
                <p class="text-uppercase mr-lg-6">
                    Choose one of our current to get started!
                </p>
            </div>
            <div class="col-lg-3 offset-lg-3 hidden-md-down">
                 <span class="ribbon"><span class="fa fa-star"></span></span>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-10 offset-lg-1">
                {{ project_helpers.render_shuffle_grid(categories_projects['featured'], show_controls=False) }}
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- See https://github.com/LibCrowds/libcrowds-data -->
{% if "libcrowds_data" in plugins %}
<section id="data" class="bg-black">
    <div id="code-jumbotron" class="jumbotron jumbotron-fluid invert-navbar text-center mb-0">
        <div class="container text-white py-4">
            <div class="row py-2">
                <div class="col-sm-12">
                    <h2 class="display-2 font-weight-extra-light">Open Data</h2>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-sm-6 offset-sm-3">
                    <p class="lead font-weight-extra-light">
                        All data generated through our crowdsourcing projects is freely available and can be used by anyone
                        without restrictions. Datasets can be downloaded in JSON, CSV or XML formats, visit our data page to
                        find out more.
                    </p>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-sm-12">
                    <a href="{{ url_for('data.index') }}" class="btn btn-outline-white" role="button">Get the data</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if top_users %}
<section id="top-users" class="text-gray-dark text-center">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 pt-3">
                <h3 class="text-uppercase font-weight-bold display-4">Most Active Volunteers</h3>
                <div>
                    <hr class="bw-3 w-50">
                    <p class="text-uppercase lead">
                        To date, our top {{ top_users | length }} volunteers have made an amazing {{ "{:,}".format(top_users | sum(attribute='score')) }} contributions!
                    </p>
                    <a class="btn btn-outline-secondary mt-3" href="{{ url_for('project.index') }}" role="button">Get Involved</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 hidden-md-down">
                <img src="{{ url_for('static', filename='img/wreath.png') }}" alt="Wreath" class="img-fluid">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 text-center pt-2">
                {{ user_helpers.render_avatar_list(top_users, badge='score', highlight_top_users=True) }}
            </div>
        </div>
        <div class="row text-center mt-1">
            <div class="col-sm-12 col-lg-5 offset-lg-1 push-lg-6 mt-4">
                <a href="{{ url_for('leaderboard.index') }}" class="text-gray-dark">
                    <span class="fa fa-eye mr-1"></span>
                    <div class="black-ul-link">View the leaderboard</div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- See https://github.com/LibCrowds/libcrowds-results -->
{% if "libcrowds_results" in plugins %}
<section id="results" class="bg-black">
    <div id="newton-jumbotron" class="jumbotron jumbotron-fluid invert-navbar text-center mb-0">
        <div class="container text-white py-4">
            <div class="row py-2">
                <div class="col-sm-12">
                    <h2 class="display-2 font-weight-extra-light">Results</h2>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-sm-6 offset-sm-3">
                    <p class="lead font-weight-extra-light">
                        As the project progresses contributions will be analysed and
                        the results published in real-time, making the efforts of
                        our volunteers immediately apparent.
                    </p>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-sm-12">
                    <a href="{{ url_for('results.index') }}" class="btn btn-outline-white" role="button">See the Results</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<hr class="w-75">
{% endif %}

<section>
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-10 offset-sm-1 text-center">
                <h3 class="text-uppercase display-4 mb-0">Get Involved</h3>
                <p class="lead mt-4 mb-0">
                    Your contributions will have a direct impact on enabling future reasearch at the British Library.
                <p>
                <a href="{{ url_for('project.index') }}" class="btn btn-outline-primary btn-lg mt-4 mb-0" role="button">Find a Project</a>
                <hr class="bw-2 w-50 my-4">
                {{ social_helpers.render_social_media_buttons("www.libcrowds.com/project/{{ project.short_name }}", "{{ project.description }}") }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
