{% extends "_layouts/splash.html" %}
{% import "_helpers/_project.html" as project_helpers %}
{% import "_helpers/_social.html" as social_helpers %}
{% import "_helpers/_user.html" as user_helpers %}

{% block content %}
<div id="crowd-jumbotron" class="jumbotron jumbotron-fullscreen invert-navbar jumbotron-fade mb-0 d-flex align-items-center">
    <div class="container text-white text-center">
        <h1 class="pb-2">Crowdsourcing projects<br>from the British Library</h1>
        <div data-anchor="#featured-projects" class="btn btn-circle btn-anchor hidden-sm-down mx-auto mt-3" role="button">
            <a>
                <div class="my-3"><span class="fa fa-angle-double-down fa-4x"></span></div>
                <div class="my-4">Get Started</div>
            </a>
        </div>
    </div>
</div>

<section class="my-5 text-center">
    <div class="container py-3">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h2 class="font-family-serif display-4 mb-0">
                    Have a direct impact on enabling future research conducted at the Library.
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <p class="lead my-2">
                    {{brand}}, in association with <a href="http://labs.bl.uk/" target="_blank">BL Labs</a>, is a platform for
                    hosting experimental crowdsourcing projects aimed at improving access to the diverse collections held at the
                    British Library.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 my-3">
                <span class="icon icon-projects icon-6x"></span>
                <p id="n-projects" class="display-4 mb-2 global-stat"><span class="fa fa-circle-o-notch fa-spin"></span></p>
                <p class="lead my-1">Projects</p>
            </div>
            <div class="col-md-4 my-3">
                <span class="icon icon-contributions icon-6x"></span>
                <p id="n-contributions" class="display-4 mb-2 global-stat"><span class="fa fa-circle-o-notch fa-spin"></span></p>
                <p class="lead my-1">Contributions</p>
            </div>
            <div class="col-md-4 my-3">
                <span class="icon icon-volunteers icon-6x"></span>
                <p id="n-volunteers" class="display-4 mb-2 global-stat"><span class="fa fa-circle-o-notch fa-spin"></span></p>
                <p class="lead my-1">Volunteers</p>
            </div>
        </div>
    </div>
</section>

<section id="featured-projects" class="pattern-white-wall text-gray-dark text-center text-lg-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 pt-5">
                <h3 class="text-uppercase font-weight-bold display-4">Featured Projects</h3>
                <hr class="bw-3 mr-lg-5">
                <p class="text-uppercase mr-lg-5">
                     Here are some of our current favourites.
                </p>
            </div>
            <div class="col-lg-3 offset-lg-3 hidden-md-down">
                 <span class="ribbon"><span class="fa fa-star"></span>
            </div>
        </div>
        <div class="mt-4">
            {% if categories_projects['featured'] %}
            {{ project_helpers.render_grid(categories_projects['featured']) }}
            {% else %}
            <p class="text-center">
                No projects are currently being featured, but we still need you help!
            </p>
            {% endif %}
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-lg my-5" href="{{url_for('project.index')}}" role="button">Browse All Projects</a>
        </div>
    </div>
</section>

<!-- See https://github.com/LibCrowds/libcrowds-data -->
{% if "libcrowds_data" in plugins %}
<section id="data" class="bg-black">
    <div id="code-jumbotron" class="jumbotron jumbotron-fluid invert-navbar text-center mb-0">
        <div class="container text-white py-4">
            <div class="row py-2">
                <div class="col-sm-12">
                    <h2 class="display-2 font-weight-extra-light">Open Data</h2>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-sm-6 offset-sm-3">
                    <p class="lead font-weight-extra-light">
                        All data generated through our crowdsourcing projects is freely available and can be used by anyone
                        without restrictions. Datasets can be downloaded in JSON, CSV or XML formats, visit our data page to
                        find out more.
                    </p>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-sm-12">
                    <a href="{{ url_for('data.index') }}" class="btn btn-outline-white" role="button">Get the data</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


{% if top_users %}
<section id="top-users" class="text-gray-dark text-center">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 pt-3">
                <h3 class="text-uppercase font-weight-bold display-4">Most Active Volunteers</h3>
                <div>
                    <hr class="bw-3 w-50">
                    <p class="text-uppercase lead">
                        To date, our top {{ top_users |length }} volunteers have made an amazing {{ "{:,}".format(top_users | sum(attribute='score')) }} contributions!
                    </p>
                    <a class="btn btn-secondary mt-3" href="{{ url_for('project.index') }}" role="button">Get Involved</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 hidden-md-down">
                <img src="{{ url_for('static', filename='img/wreath.png') }}" alt="Wreath" class="img-fluid">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 text-center pt-2">
                <ul class="list-unstyled">
                {% for user in top_users %}
                <li class="text-center d-inline-block mx-1">
                    <a href="{{ url_for('account.profile', name=user.name) }}" data-content="<strong>Joined:</strong> {{ user.created[8:10] }}-{{ user.created[5:7] }}-{{ user.created[0:4] }}"
                        data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-title="<strong>{{ user.name }}</strong>">
                        <div class="my-1">
                            {% set width = 90 %}
                            {% if loop.first %}
                            {% set width = 110 %}
                            {% elif loop.index == 2 %}
                            {% set width = 100 %}
                            {% endif %}
                            {{ user_helpers.render_avatar(user, class="img-thumbnail rounded-circle", width=width) }}
                        </div>
                    </a>
                    <p class="badge badge-info">{{ user.score }}</p>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row text-center mt-1">
            <div class="col-sm-12 col-lg-5 offset-lg-1 push-lg-6 mt-4">
                <a href="{{ url_for('leaderboard.index') }}" class="text-gray-dark">
                    <span class="fa fa-eye mr-1"></span>
                    <div class="black-ul-link">View the leaderboard</div>
                </a>
            </div>
        </div>
        <hr class="mb-5">
        {{ social_helpers.render_social_media_buttons("www.libcrowds.com", "Have a direct impact on enabling future research conducted at the Library.") }}
    </div>
</section>
{% endif %}

{% endblock %}
