<ul class="nav list-group">
    {% if staff_or_admin %}
        <li class="list-group-item {% if active_link =='settings' %}active{% endif %}">
            <a href="{{url_for('project.settings', short_name=project.short_name)}}">Project Settings</a>
        </li>
        <li class="list-group-item {% if active_link =='tasks' %}active{% endif %}">
            <a href="{{url_for('project.tasks', short_name=project.short_name)}}">Task Settings</a>
        </li>
    {% endif %}
    {% if pro_features.get('webhooks_enabled') %}
    <li class="list-group-item {% if active_link =='webhooks' %}active{% endif %}">
        <a href="{{url_for('project.webhook_handler', short_name=project.short_name)}}">Webhooks</a>
    </li>
    {% endif %}
    {% if pro_features.get('auditlog_enabled') %}
    <li class="list-group-item {% if active_link =='auditlog' %}active{% endif %}">
        <a href="{{url_for('project.auditlog', short_name=project.short_name)}}">Audit Logs</a>
    </li>
    {% endif %}
    <li class="list-group-item {% if active_link =='results' %}active{% endif %}">
        <a href="{{url_for('project.results', short_name=project.short_name)}}">Results</a>
    </li>
     <li class="list-group-item {% if active_link =='stats' %}active{% endif %}">
        <a href="{{url_for('project.show_stats', short_name=project.short_name)}}">Statistics</a>
    </li>
    <li class="list-group-item">
        <a href="{{url_for('project.presenter', short_name=project.short_name)}}">Contribute</a>
    </li>
</ul>
