{% macro render_admin_user(user) %}
<tr>
    <td>{{user.name}}</td>
    <td class="hidden-xs">{{user.fullname}}</td>
    <td class="hidden-xs text-center">{{user.created[8:10]}}-{{user.created[5:7]}}-{{user.created[0:4]}}</td>

    {% if user.admin %}
    <td class="text-center">
        {% if user.id != 1 %}
        <a href="{{url_for('admin.del_admin', user_id=user.id)}}" class="btn btn-inverse">
            <i class="fa fa-remove"></i>  Revoke admin rights
        </a>
        {% else %}
        N/A
        {% endif %}
    </td>
    {% else %}
    <td class="text-center">
        <a href="{{url_for('admin.add_admin', user_id=user.id)}}" class="btn btn-inverse">
            <i class="fa fa-plus"></i> Grant admin rights
        </a>
    </td>
    {% endif %}
</tr>
{% endmacro %}

{% macro render_title(title, subtitle=None) %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="mb-1"><strong>Admin:</strong> {{ title }}</h1>
        {% if subtitle %}
        <p class="lead mb-0">{{ subtitle }}</p>
        {% endif %}
    </div>
</div>
<hr>
{% endmacro %}
