{% macro render_title(title, description, search_table=None, title_link=None) %}
<div class="card-block">
    <div class="d-flex flex-row align-items-end">
        <div class="w-75 pr-3">
            <h4 class="card-title mb-1">{{ title }}</h4>
            <p class="card-text text-muted">{{ description | safe }}</p>
        </div>
        {% if search_table %}
        <div class="w-25">
            <input type="text" class="form-control rounded-oblong search-table" placeholder="Search" data-target="{{ search_table }}">
        </div>
        {% endif %}
        {% if title_link %}
        <div class="w-25">
            <a href="{{ title_link[0] }}" class="btn btn-outline-primary btn-block">{{ title_link[1] }}</a>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_stat(font, stat, description, addon) %}
<div class="card mt-3">
    <div class="card-block">
        <span class="fa {{ font }} fa-3x pull-right text-muted"></span>
        <div class="card-text display-5 font-weight-bold">{{ stat }}</div>
        <div class="card-text">{{ description }}</div>
        <div class="card-text"><small>{{ addon }}</small></div>
    </div>
</div>
{% endmacro %}

{% macro render_button(title, description, url, icon) %}
<div class="col-md-6 col-xl-4 my-2">
    <div class="card card-button">
        <a href="{{ url }}">
            <div class="card-block" data-description="{{ description }}">
                <div class="card-title">{{ title }}</div>
                <div class="card-icon">
                    <span class="fa {{ icon }} fa-2x"></span>
                </div>
            </div>
        </a>
    </div>
</div>
{% endmacro %}

{% macro render_icon_button(title, url, icon, tooltip=None, active=False) %}
<div class="card card-button mt-3 p-0 {% if active %}active{% endif %}"
     {% if tooltip %}data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="{{ tooltip }}"{% endif %}>
    <a href="{{ url }}">
        <div class="card-block py-2 px-4 text-center">
            <span class="icon icon-4x icon-{{ icon }}"></span>
            <div class="card-title mb-0">{{ title }}</div>
        </div>
    </a>
</div>
{% endmacro %}