{% macro render_icon_button(title, url, icon, tooltip, active=False, nofollow=False) %}
<div class="card m-1 p-0 d-flex flex-column align-items-center {% if active %}active{% endif %}"
     data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="{{ tooltip }}">
    <a href="{{ url }}" class="text-body tab-control" {% if nofollow%}rel="nofollow"{% endif %}>
        <div class="card-block py-2 px-4 text-center">
            <span class="icon icon-4x icon-{{ icon }}"></span>
            <div class="card-title text-initial mb-0">{{ title }}</div>
        </div>
    </a>
</div>
{% endmacro %}

{% macro render_strip(categories, active_cat=None, current_user=None) %}
<div class="d-flex flex-row align-items-center justify-content-center">
    <span class="fa fa-chevron-left mr-2 btn-scroll" data-target="#categories-strip" data-direction="left" role="button"></span>
        <div id="categories-strip" class="d-flex mw-75 card-strip">
        {% if active_cat %}
            {% for c in categories %}
                {{ render_icon_button(c.name, url_for('project.project_cat_index', category=c.short_name), c.short_name, c.description, active=(active_cat.short_name==c.short_name)) }}
            {% endfor %}
            {% if current_user and (current_user.is_authenticated() and current_user.admin) %}
                {{ render_icon_button('Draft', url_for('project.draft'), "draft", 'Unpublished projects', active=(active_cat.short_name=='draft'), nofollow=True) }}
            {% endif %}
        {% else %}
            {%- for c in categories %}
                {{ render_icon_button(c.name, '#category-{0}'.format(c.id), c.short_name, c.description, active=loop.first) }}
            {%- endfor %}
        {% endif %}
    </div>
    <span class="fa fa-chevron-right ml-2 btn-scroll" data-target="#categories-strip" data-direction="right" role="button"></span>
</div>
{% endmacro %}