{% macro render_error(title, description) %}
<div id="error-jumbotron" class="jumbotron jumbotron-fullscreen invert-navbar mb-0 d-flex align-items-center">
    <div class="w-50 px-3">
        <div class="text-center text-white">
            <h1 class="pb-2 font-weight-bold">{{ title }}</h1>
            <p class="lead">{{ description }}</p>
            <a href="{{ url_for('home.home') }}" class="text-white" role="button">
                <span class="fa-stack fa-lg fa-3x">
                    <i class="fa fa-cloud fa-stack-2x"></i>
                    <i class="fa fa-home fa-stack-1x text-sky"></i>
                </span>
            </a>
        </div>
    </div>
</div>
{% endmacro %}