{% macro render_title(prefix, title, subtitle=None, link=None, link_text=None) %}
<div class="d-flex flex-row justify-content-between align-items-center">
    <div>
        <h1 class="mb-1">{% if prefix %}<strong>{{ prefix }}: </strong>{% endif %}{{ title }}</h1>
        {% if subtitle %}
        <p class="lead mb-0">{{ subtitle }}</p>
        {% endif %}
    </div>
    {% if link and link_text %}
    <div>
    <a href="{{ link }}" class="btn btn-primary">{{ link_text }}</a>
    </div>
    {% endif %}
</div>
<hr>
{% endmacro %}