{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}

{% macro render_grid(projects, shuffle=False) %}
<div {% if not shuffle %}class="row overlay-cards"{% else %}class="shuffle-grid row overlay-cards" id="project-grid" data-initial-group="incomplete"{% endif %}>
    {% for project in projects -%}
    <div class="col-md-6 col-lg-4 grid-item" data-groups='["{% if project.overall_progress < 100 %}in{% endif %}complete"]'
         data-created="{{ project.created }}" data-progress="{{ project.overall_progress }}"
         data-last-activity="{{ project.last_activity_raw }}" data-n-volunteers="{{ project.n_volunteers }}"
         {%- if shuffle and project.overall_progress == 100 %}style="visibility: hidden"{% endif %}>
        <div class="card text-center">
            <a href="{{ url_for('project.details', short_name=project.short_name) }}">
                {{- render_thumbnail(project, class='card-img img-fluid') -}}
                <div class="card-footer text-white bg-dark-overlay d-flex align-content-between flex-wrap justify-content-center">
                    <h6 class="card-title">{{ project.name | truncate(40, true) }}</h6>
                    <p class="card-text lead">{{ project.description }}</p>
                    <p class="card-text">{{ project.overall_progress | round | int }}% complete</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor -%}
</div>
{% endmacro %}

{% macro render_table(title, subtitle, id, projects, class=None) %}
<div class="card {% if class %}{{ class }}{% endif %}">
    {{ card_helpers.render_title(title, subtitle, search_table="#{0}".format(id)) }}
    <div class="table-responsive">
        <table id="{{ id }}" class="table table-hover table-striped mb-0">
            {{ table_helpers.render_head(['Name', 'Progress', 'Details']) }}
            <tbody>
                {% for p in projects %}
                {{ table_helpers.render_row([p.name, p.overall_progress,
                                             '<a href="{0}" class="btn btn-sm btn-outline-primary">View</a>'.format(url_for('project.details', short_name=p.short_name))]) }}
                {% endfor %}
                {{ table_helpers.render_no_data_row(3) }}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro render_loading(text) %}
<div class="row">
    <div class="col-xs-12">
        <div id="loading" class="alert alert-info" style="display:none;">
            <span class="fa fa-refresh fa-spin"></span> {{text}}
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_thumbnail(project, upload_method, class, style, width='200', id=None) %}
    {% if project.info.container -%}
        {% if upload_method == 'rackspace' -%}
        <img {% if id %}id="{{ id }}"{% endif %} class="{{ class }}" style="{{ style }}" src="{{ url_for('rackspace', filename=project.info.thumbnail, container=project.info.container) }}" onerror="imgError(this, 400, 400);" alt="{{ project.name }} thumbnail">
        {% else -%}
        <img {% if id %}id="{{ id }}"{% endif %} class="{{ class }}" style="{{ style }}" src="{{ url_for('uploads.uploaded_file', filename=(project.info.container + '/' + project.info.thumbnail)) }}" onerror="imgError(this, 400, 400);" alt="{{ project.name }} thumbnail">
        {% endif -%}
    {% elif project.info.thumbnail -%}
        <img {% if id %}id="{{ id }}"{% endif %} class="{{ class }}" style="{{ style }}" src="{{ project.info.thumbnail }}" onerror="imgError(this, 400, 400);" alt="{{ project.name }} thumbnail">
    {% else -%}
        <img {% if id %}id="{{ id }}"{% endif %} class="{{ class }}" style="{{ style }}" src="http://placekitten.com/400/400?image=1" alt="{{ project.name }} thumbnail">
    {% endif -%}
{% endmacro %}

{% macro render_grid_shuffle_controls() %}
<form class="form-inline d-flex flex-row align-items-center justify-content-center">
    <div class="my-2 d-flex align-items-center mr-4">
        <div class="toggle-group mr-2">Hide completed projects:</div>
        <div class="toggle-group">
            <div class="toggle">
                <input checked="true" class="toggle-checkbox shuffle-checkbox" type="checkbox" id="show-all" data-group="incomplete">
                <label class="toggle-label" for="show-all">
                    <span class="toggle-inner"></span>
                    <span class="toggle-switch"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group my-2 mr-4">
        <label for="project-sort-options" class="mr-2">Sort:</label>
        <select class="shuffle-sort custom-select" id="project-sort-options">
            <option value="progress">Most Help Needed</option>
            <option value="n-volunteers" data-reverse="true">Most Popular</option>
            <option value="created" data-reverse="true">Most Recently Launched</option>
            <option value="last-activity" data-reverse="true">Most Recently Active</option>
        </select>
    </div>
    <input type="text" class="form-control rounded-oblong shuffle-search mr-2 my-2" placeholder="Search">
</form>
{% endmacro %}
