{% macro render_social_media_buttons(share_url, tweet) %}
<a href="#" class="btn btn-social btn-facebook" data-url="{{ share_url }}" data-toggle="tooltip" data-placement="bottom" title="Share on Facebook"
   onclick="popUp=window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2F{{ share_url }}',
                              'popupwindow', 'scrollbars=yes,width=510,height=620');popUp.focus();return false">
    <span class="fa fa-facebook"></span>
</a>
<a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2F{{ share_url }}&text={{ tweet }}&tw_p=tweetbutton&url=http%3A%2F%2F{{ share_url }}"
   data-content="Share on Twitter" class="btn btn-social btn-twitter" data-url="{{ share_url }}">
    <span class="fa fa-twitter"></span>
</a>
<a href="#" data-content="Share on Google+" class="btn btn-social btn-googleplus" data-url="{{ share_url }}"
   onclick="popUp=window.open('https://plus.google.com/share?url=http%3A%2F%2F{{ share_url }}',
                              'popupwindow', 'scrollbars=yes,width=510,height=725');popUp.focus();return false">
    <span class="fa fa-google"></span>
</a>
<a href="#" data-content="Share on LinkedIn" class="btn btn-social btn-linkedin" data-url="{{ share_url }}"
   onclick="popUp=window.open('https://www.linkedin.com/cws/share?url=http%3A%2F%2F{{ share_url }}',
                              'popupwindow', 'scrollbars=yes,width=510,height=520');popUp.focus();return false">
    <span class="fa fa-linkedin"></span>
</a>
{% endmacro %}