{% macro render_head(headings) %}
<thead>
    <tr>
        {% for h in headings %}
        <th class="border-top-0 border-bottom-0 pb-1 card-label text-muted">{{ h }}</th>
        {% endfor %}
    </tr>
</thead>
{% endmacro %}

{% macro render_row(values) %}
<tr>
    {% for v in values %}
    <td class="visible">{{ v | safe }}</td>
    {% endfor %}
</tr>
{% endmacro %}

{% macro render_no_data_row(colspan) %}
<tr class="no-data">
    <td colspan="{{ colspan }}" class="text-center">
        No data to show
    </td>
</tr>
{% endmacro %}