{% macro render_head(headings, center_indexes=None) %}
<thead>
    <tr>
        {% for h in headings %}
        <th class="border-top-0 border-bottom-0 pb-1 card-label text-muted
                  {% if center_indexes and loop.index in center_indexes %}text-center{% endif %}">{{ h }}
        </th>
        {% endfor %}
    </tr>
</thead>
{% endmacro %}

{% macro render_cell(value, url=None, btn=False, center=False) %}
<td class="visible {% if center %}text-center{% endif %}">
    {% if url %}
    <a href="{{ url }}" {% if btn %}class="btn btn-sm btn-outline-primary" role="button"{% endif %}>{{ value | safe }}</a>
    {% else %}
    {{ value | safe }}
    {% endif %}
</td>
{% endmacro %}

{% macro render_no_data_row(colspan) %}
<tr class="no-data">
    <td colspan="{{ colspan }}" class="text-center">
        No data to show
    </td>
</tr>
{% endmacro %}