{% macro render_profile_card(user, upload_method, private=True) %}
<div class="card card-user">
    <div class="text-center avatar-background">
        {{ render_avatar(user, upload_method, class="img-thumbnail rounded-circle", width="200")}}
    </div>
    <div class="card-block">
        <div class="card-title text-center"><h2>{{ user.name | truncate(15, True) }}</h2></div>
        <div class="card-text">
            <ul class="list-unstyled">
                <li class="pb-1">
                    <span class="fa fa-trophy fa-fw mr-1"></span>{% if user.rank %}Rank {{ user.rank }}{% else %}Unranked{% endif %}
                </li>
                <li class="pb-1">
                    <span class="fa fa-tasks fa-fw mr-1"></span>{% if user.score %}{{ user.score }}{% else %}0{% endif %} contributions
                </li>
                <li class="pb-1">
                    <span class="fa fa-clock-o fa-fw mr-1"></span>Joined {{ user.created[8:10] }}-{{ user.created[5:7] }}-{{ user.created[0:4] }}
                </li>
                {% if not private %}
                <li class="pb-1">
                    <span class="fa fa-envelope fa-fw mr-1"></span>{{ user.email_addr }}
                </li>
                <li class="pb-1">
                    <span class="fa fa-key fa-fw mr-1"></span>{{ user.api_key }}
                </li>
                {% endif %}
            </ul>
        </div>
        {% if not private %}
            <a href="{{ url_for('account.update_profile', name=user.name) }}" class="btn btn-outline-primary btn-block" role="button">
                <span class="fa fa-pencil-square-o mr-1"></span>Edit
            </a>

            {% if (user.valid_email == False) %}
                {% if (user.confirmation_email_sent == False) %}
                <a href="{{ url_for('account.confirm_email')}}" class="btn btn-primary" role="button">Validate email</a>
                {% else %}
                <p class="label label-info">Email sent for validation</p>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_avatar(user, upload_method, class, style, width='90', id=None) %}
{% if user.info.avatar %}
    {% if upload_method == 'rackspace'%}
    <img {% if id %}id="{{ id }}"{% endif %} class="{{ class }}" style="{{ style }}" width="{{ width }}" src="{{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}}"  alt="{{ user.name }}'s avatar">
    {% else %}
    <img {% if id %}id="{{ id }}"{% endif %} class="{{ class }}" style="{{ style }}" width="{{ width }}" src="{{ url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar)) }}" alt="{{ user.name }}'s avatar">
    {% endif %}
{% else %}
    <img {% if id %}id="{{ id }}"{% endif %} style="{{ style }}" width="{{ width }}" src="http://placekitten.com/200/200?image=1" alt="{{ user.name }}'s avatar">
{% endif %}
{% endmacro %}

{% macro render_avatar_list(users, badge=None, highlight_top_users=False) %}
<ul class="list-unstyled">
{% for u in users %}
<li class="text-center d-inline-block mx-1">
    <a href="{{ url_for('account.profile', name=u.name) }}" data-content="<strong>Joined:</strong> {{ u.created[8:10] }}-{{ u.created[5:7] }}-{{ u.created[0:4] }}"
        data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-title="<strong>{{ u.name }}</strong>">
        <div class="my-1">
            {% set width = 90 %}
            {% if loop.first and highlight_top_users %}
            {% set width = 110 %}
            {% elif loop.index == 2 and highlight_top_users %}
            {% set width = 100 %}
            {% endif %}
            {{ render_avatar(u, class="img-thumbnail rounded-circle", width=width) }}
        </div>
    </a>
    {% if badge %}
    <p class="badge badge-info">{{ u[badge] }}</p>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endmacro %}