.DS_STORE
static/dist/*
static/.webassets-cache/*
static/fonts/font-awesome/*
static/fonts/lightgallery/*
static/img/lightgallery/*
static/img/openseadragon/*
static/img/openseadragonselection/*
node_modules/*
.scss-lint.yml
*.log
