[submodule "static/js/pybossa.js"]
	path = static/js/pybossa.js
	url = https://github.com/Scifabric/pybossa.js
[submodule "static/js/libcrowds-viewer"]
	path = static/js/libcrowds-viewer
	url = https://github.com/LibCrowds/libcrowds-viewer
