.card.project-card {
    text-align: center;
    flex-direction: column;
    overflow-y: hidden;
    margin-bottom: $spacer-y;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;

    @include media-breakpoint-up(md) {
        max-width: 100%;
        text-align: left;
        flex-direction: row;
    }

    @include hover-focus {
        .card-img-overlay-wrapper {
            .card-img-overlay {
                transform: translateY(0);
            }
        }
    }

    .card-block {

        &:not(first-child) {
            border-top: $card-border-width solid $card-border-color;

            .card-footer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-top: auto;
                background-color: $white;
            }

            @include media-breakpoint-up(md) {
                display: flex;
                flex-direction: column;
                border-top: none;
                border-left: $card-border-width solid $card-border-color;

                .card-footer {
                    flex-direction: row;
                }
            }
        }
    }

    .card-img-overlay-wrapper {
        position: relative;
        overflow: hidden;
        max-width: 300px;

        .card-img {
            width: 100%;
        }

        .card-img-overlay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: $brand-primary;
            transform: translateY(100%);
        }
    }
}

.card-button {
    overflow: hidden;

    .card-block {
        display: flex;
        align-items: center;

        .card-title {
            z-index: 1;
            margin: 0px;
        }

        .card-icon {
            color: $white;
            z-index: 3;
            width: 30%;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            padding-left: 0.5rem;
        }

        &:after {
            content: '';
            background: linear-gradient(105deg, transparent 0%, transparent 10%, #{$brand-info} 10%, #{$brand-info} 100%);
            width: 125%;
            height: 100%;
            transform: translateX(70%);
            z-index: 2;
            position: absolute;
            right: 0;
        }

        &:before {
            content: attr(data-description);
            opacity: 0;
            z-index: 3;
            position: absolute;
            color: transparent;
            max-width: 70%;
        };

        @include hover-focus {
            &:after {
                transform: translateX(0%);
            }
            &:before {
                color: white;
                opacity: 1;
            }
        }
    }

    a {
        color: $body-color;
    }
}

.card-strip {
    overflow-x: auto;
    white-space: nowrap;

    .card:hover,
    .card:hover,
    .card.active {
        border: 1px solid rgba($brand-primary, 0.75);
    }
}

.card-user {
    .avatar-background {
        padding-top: $spacer-y * 3;
        background: linear-gradient(to bottom, rgba($brand-info, 0) 0%, rgba($brand-info, 0) calc(50% + (#{$spacer-y} * 1.5)), $white calc(50% + (#{$spacer-y} * 1.5)), $white 100% ), url('../_img/sidebar.png');
        background-size: cover;
        background-position: center center;
    }
}
