.jumbotron-fullscreen {
    @extend .jumbotron-fluid;
    height: 100vh;
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#home-jumbotron {
    background-image: url('../_custom/#{$theme-env}/home.jpg');
}

#code-jumbotron {
    background: url('../_img/code.png') no-repeat left fixed;
}

#newton-jumbotron {
    background: url('../_img/newton.jpg') no-repeat bottom right / cover fixed;
}

#error-jumbotron {
    background-color: $sky;
    background-image: url(../_img/bl-graphic.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
