.navbar {
    padding-left: ($spacer-x * 3);
    padding-right: ($spacer-x * 3);
    
    .hamburger {
        display: none;
        padding: 0;
    }
    
    &.navbar-inverse {
        background-color: transparent;
    
        .hamburger-inner, 
        .hamburger-inner:before, 
        .hamburger-inner:after {
            background-color: $white;
        }
    
        .dropdown-menu {
            background-color: rgba($black, 0.5);
        
            .dropdown-item {
                color: $white;
            
                @include hover-focus {
                    color: $link-hover-color;
                }
            }
        }
    }
    
    &.navbar-light {
        background: $white;
        border-bottom: 1px solid $gray-lighter;
    }
    
    &.navbar-dashboard .navbar-brand {
        @include media-breakpoint-up(lg) {
            visibility: hidden;
        }
    }
    
    .navbar-nav {
    
        &:first-child {
            margin-right: auto;
        }
    
        .nav-item {
            margin-left: $nav-item-inline-spacer;
            margin-right: $nav-item-inline-spacer;
            position: relative;
        
            &:not(.dropdown) .nav-link:after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                content: '';
                background-color: $brand-primary;
                opacity: 0;
            }
        
            &.active .nav-link:after,
            .nav-link:hover:after,
            .nav-link:focus:after {
                opacity: 1;
            }
            
            &.active .nav-link:after {
                transform: none;
            }
            
            .nav-link {
                padding: .35rem 0;
                
                &:not(.dropdown-toggle) {
                    &:after {
                        transform: translateY(10px);
                    }

                    @include hover-focus {
                        &:after {
                            transform: none;
                        }
                    }
                }
            }
            
            .dropdown-menu {
                left: -25%;
                right: 0;
            }
            
            &.active {
                .nav-link:after {
                    transform: none;
                }
            }
        }
    }
    
    .dropdown-menu {
        width: 100%;
    }
    
    .dropdown-item:focus,
    .dropdown-item:hover,
    .nav-item .nav-link:focus,
    .nav-item .nav-link:hover,
    .nav-item.active .nav-link {
        color: $brand-primary;
        background-color: transparent;
    }
    
    .hamburger {
        z-index: 20;
		
		&.hamburger--arrow {
			transform: rotate(180deg);
		}
    }
    
    .fa {
        display: none;
    }
}

.navbar-toggleable {
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    
        &#{$infix} {
            @include media-breakpoint-down($breakpoint) {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: $spacer-x;
                padding-right: $spacer-x;

                .hamburger {
                    display: flex;
                }

                .navbar-collapse {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    width: 260px;
                    position: fixed;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    background-color: $brand-inverse;
                    overflow-x: hidden;
                    overflow-y: auto;
                    text-align: center;
                    
                    &:not(.show) {
                        transform: translateX(-100%);
                    }
                    
                    .navbar-nav {
                        margin-right: 0;
                        display: block;
                    
                    
                        .nav-item {
                            margin-left: 0;
                            
                            &.active .nav-link:after,
                            .nav-link:hover:after,
                            .nav-link:focus:after {
                                opacity: 0;
                            }
                        }

                        .nav-link,
                        .dropdown-item {
                            padding: $list-group-item-padding-y;
                            color: $white;
            
                            @include hover-focus {
                                color: $brand-primary;
                            }
                            
                            .fa {
                                display: none;
                            }
                        }

                        .dropdown-toggle,
                        .dropdown-divider {
                            display: none;
                        }

                        .dropdown-menu {
                            display: block;
                            background: transparent;
                            text-align: center;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar {
        .navbar-collapse {
            width: 100%;
        }
        
        .hamburger.white {
            .hamburger-inner, 
            .hamburger-inner:before, 
            .hamburger-inner:after {
                background-color: $white;
            }
        }
    }
}