.toggle {
    border-color: $input-border-color;
    
    .toggle-on,
    .toggle-off,
    .toggle-handle {
        cursor: pointer;
    }
    
    .toggle-handle {
        background-color: $white;
        border-color: $input-border-color;
    }

    .toggle-off {
        color: initial;
        background-color: $gray-lighter;
        box-shadow: inset 0 3px 5px rgba($black, .125);
    }
}