body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    position: relative;
    overflow-y: auto;
}

footer {
    border-top: 1px solid $gray-lighter;
}

@include media-breakpoint-up(md) {
    main {
        width: 100%;
    }
}