body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    position: relative;
}

body .navbar-light:not(.navbar-scroll) + main {
    margin-top: $navbar-light-height;
}

footer {
    border-top: 1px solid $gray-lighter;
    z-index: 100;
}

@include media-breakpoint-up(md) {
	main {
		width: 100%;
	}
}