{
	background-color: $white;
}

.btn-outline-white {
    @include button-outline-variant($white, $black);
}

.btn-circle {
    z-index: 1;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1px solid $white;
	background-color: transparent;
    display: block;
    position: relative;
    overflow: hidden;
	
    a {
        width: 100%;
        color: $white;
        display: inline-block;
		transform: translateY(-90px);

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: normal;
        }
		
		@include hover-focus {
			transform: none;
		}
    }
}

.btn-social {
    @include hover-focus;
    border-radius: 0;
    color: $white;

    &.btn-twitter {
        background: $twitter;

        @include hover-focus {
            background: darken($twitter, 5%);
        }
    }

    &.btn-facebook {
        background: $facebook;

        @include hover-focus {
            background: darken($facebook, 5%);
        }
    }

    &.btn-googleplus {
        background: $googleplus;

        @include hover-focus {
            background: darken($googleplus, 5%);
        }
    }

    &.btn-linkedin {
        background: $linkedin;

        @include hover-focus {
            background: darken($linkedin, 5%);
        }
    }

    @include hover-focus {
        color: $white;
    }
}

.btn-scroll {
    visibility: hidden;
}