.dashboard {
    height: 100%;
    flex-direction: column;
    display: flex;
}

.dashboard main {
    overflow-y: auto;
}

@include media-breakpoint-up(lg) {
    .dashboard {
        position: relative;
        z-index: 2;
        max-height: 100%;
        float: right;
        width: calc(100% - 260px);
    }
}