.dashboard {
    height: 100%;
    flex-direction: column;
    display: flex;
    
    main {
        overflow-y: auto;
    }
    
    @include media-breakpoint-up(lg) {
        position: relative;
        z-index: 2;
        max-height: 100%;
        float: right;
        width: calc(100% - 260px);
    }
}