.CodeMirror {
    width: 100% !important;
    height: 100% !important;
    border: 1px solid $gray-lighter;
}

.codemirror-buttons {
    width: 100%;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid $gray-lighter;
}