.CodeMirror {
    width: 100% !important;
    height: 100% !important;
}

.codemirror-buttons {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}