.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('/static/svg/fallback.svg');
    background-position: center center;
    background-repeat: no-repeat;
    margin: .25rem;

    @each $size in 2 3 4 5 6 7 8 9 10 {
        &.icon-#{$size}x { height: #{$size}em; width: #{$size}em };
    }

    @each $icon in $icons {
        &.icon-#{$icon} {
            background-image: url('/static/svg/#{$icon}.svg');
        }
    }
}