.introjs-helperLayer {
    background-color: rgba($white,.25);
}
    
.introjs-button {
    text-shadow: none;
    
    @include hover-focus {
        color: #fff !important;
    }
    
    &.introjs-donebutton {
        @extend .btn-success;
        background: $brand-success;
        color: $white !important;
        
        &:active,
        &:focus,
        &:hover {
            background: darken($brand-success, 10%);
        }
    }
}
