.jumbotron-fullscreen {
    @extend .jumbotron-fluid;
    height: 400px;
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    @include media-breakpoint-up(md) {
        height: 100vh;
    }
}

#crowd-jumbotron {
    background-image: url(/static/img/jumbotrons/crowd.png);
}

#drawer-jumbotron {
    background: url(/static/img/jumbotrons/drawer.png) no-repeat center center fixed;
}

#code-jumbotron {
    background: url(/static/img/jumbotrons/code.png) no-repeat center fixed;
}

#error-jumbotron {
    background-color: $sky;
    background-image: url(/static/img/bl-graphic.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}