 .sidebar-wrapper {
     display: flex;
     flex-direction: row;
     height: 100%;
     position: fixed;
     z-index: 9999;
     top: 0;
     right: 0;
     overflow: hidden;
     
     * {
         z-index: 9999;
     }
     
    .sidebar {
        width: 480px;
        background-color: $white;
        border-left: 1px solid $gray-lighter;
        overflow-x: hidden;
        overflow-y: auto;
        
        @include media-breakpoint-down(md) {
            width: 100vw;
        }
        
        &:not(.show) {
            transform: translateX(100%);
        }
        
        &.show ~ .sidebar-overlay {
            display: initial;
            opacity: 1;
        }
        
        .sidebar-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            border-bottom: 1px solid $gray-lighter;
            
            button {
                padding: $navbar-padding-y $navbar-padding-x;
            }
        }
    }
     
    .btn-sidebar {
        align-self: flex-end;
        border-top-left-radius: $border-radius-lg;
        border-bottom-left-radius: $border-radius-lg;
    }
}
     
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba($black, 0.5);
    z-index: 9998;
    display: none;
    opacity: 0;
}