 .sidebar-wrapper {
     display: flex;
     flex-direction: row;
     height: 100%;
     position: fixed;
     z-index: 9999;
     top: 0;
     right: 0;
     overflow: hidden;
     
    * {
         z-index: 9999;
    }
     
    &:not(.active) {
        transform: translateX(100vw);
        
        @include media-breakpoint-up(lg) {
            transform: translateX(480px);
        }
    }
    
    &.active {
        
        ~ .sidebar-overlay {
            display: initial;
            opacity: 1;
        }
        
        .btn-sidebar {
            display: none;
            
            @include media-breakpoint-up(lg) {
                display: block;
            }
        }
    }
     
    .sidebar {
        flex: 1 1 auto;
        width: 100vw;
        background-color: $white;
        border-left: 1px solid $gray-lighter;
        padding-left: 1rem;
        padding-right: 1rem;
        overflow-x: hidden;
        overflow-y: auto;
        
        @include media-breakpoint-up(lg) {
            width: 480px;
        }
        
        .sidebar-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
            button {
                padding: $navbar-padding-y $navbar-padding-x;
            }
        }
    }
     
    .btn-sidebar {
        align-self: flex-end;
        border-top-left-radius: $border-radius-lg;
        border-bottom-left-radius: $border-radius-lg;
    }
}
     
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba($black, 0.5);
    z-index: 9998;
    display: none;
    opacity: 0;
    will-change: opacity;
}