.btn-circle a {
    transform: translateY(-90px);

    @include hover-focus {
        transform: none;
    }
}

.navbar .nav-item {
    .nav-link {
        &:after {
            transform: translateY(10px);
        }

        @include hover-focus {
            &:after {
                transform: none;
            }
        }
    }

    &.active .nav-link:after {
        transform: none;
    }
}