a {
    transition: 100ms;
}

.btn-circle a {
    transition: transform 400ms;
}

.badge {
    transition: color 500ms, background-color 500ms;
}

.navbar {
    transition: background-color 200ms, height 500ms;
}

.navbar-brand {
    transition: color 200ms;
}

.navbar .nav-link {
    transition: color 200ms;
}

.navbar .nav-link:after {
    transition: opacity 200ms, transform 200ms;
}

.sidebar .list-group-item {
    transition: background-color 200ms;
}

.jumbotron-fade {
    transition: brightness 1.5s, 500ms;
}

.jumbotron-fade * {
    transition: opacity 1s;
}

.project-cards .card-footer {
    transition: height 250ms;
}

.black-ul-link {
    transition: border-bottom 500ms;
}
