a {
    transition: 100ms;
}

.btn-circle a {
    transition: transform 400ms;
}

.sidebar .list-group-item {
    transition: background-color 200ms;
}

.overlay-cards .card-footer {
    transition: height 250ms;
}

.black-ul-link {
    transition: border-bottom 500ms;
}

.navbar {
    transition: background-color 200ms, height 500ms;

    .navbar-brand {
        transition: color 200ms;
    }

    .nav-link {
        transition: color 200ms;

        &:after {
            transition: opacity 200ms, transform 200ms;
        }
    }
}

.jumbotron-fade {
    transition: brightness 1.5s, 500ms;

    * {
        transition: opacity 1s;
    }
}

.toggle-switch {
    transition: all 0.3s ease-in 0s;
}

.card-button .card-block {
    &:after {
        transition: transform 350ms ease-out;
    }
    &:before {
        transition: opacity 200ms ease-in 400ms;
    }
}
