.btn-circle a {
    transform: translateY(-90px);
}

.btn-circle a:hover,
.btn-circle a:focus,
.btn-circle a:active {
    transform: none;
}

.navbar .nav-item .nav-link:after {
    transform: translateY(10px)
}

.navbar .nav-item.active .nav-link:after,
.navbar .nav-item .nav-link:hover:after,
.navbar .nav-item .nav-link:focus:after,
.navbar .nav-item .nav-link:active:after {
    transform: none;
}