body {
    font-family: $base-font-family;
    font-weight: 400;
}

.navbar-brand {
    font-family: $headings-font-family;
    font-size: $font-size-h3;
    font-weight: 300;
}

.navbar .nav-link,
.navbar .dropdown-item,
.dashboard-menu .list-group-item {
    font-weight: 400;
    letter-spacing: 0.8px;
}

.btn-circle {
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.dashboard-menu {
    font-size: $font-size-sm;
    text-transform: uppercase;
}

.font-family-serif {
    font-family: $font-family-serif;
}

.font-weight-extra-light {
    font-weight: 200;
}

.font-weight-light {
    font-weight: 300;
}

.display-5 {
    font-size: 2.5rem;
}

.display-6 {
    font-size: 2rem;
}

@include media-breakpoint-up(lg) {
    .navbar .nav-link,
    .navbar .dropdown-item,
    .dashboard-menu .list-group-item {
        font-size: $font-size-sm;
    }
}

.card {
    font-size: $font-size-sm;

    .card-label {
        font-size: $font-size-xs;
        text-transform: uppercase;
        font-weight: 400;
    }

    .btn,
    .form-control {
        font-size: $font-size-sm;
        font-weight: 300;
    }
}

pre {
    font-size: 1rem;
}

.progress-circle p {
    font-size: $progress-circle-font-size;
    line-height: 1.8;
}