html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

body {
    font-family: $base-font-family;
    font-weight: 400;
}

.navbar-brand {
    font-family: $headings-font-family;
    font-size: 2em;
    font-weight: 300;
}

.navbar .nav-link,
.navbar .dropdown-item,
.sidebar .list-group-item {
    font-weight: 400;
    letter-spacing: 0.8px;
}

.btn-circle {
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sidebar {
    font-size: 0.85em;
    text-transform: uppercase;
}

.font-family-serif {
    font-family: $font-family-serif;
}

.font-weight-extra-light {
    font-weight: 200;
}

.font-weight-light {
    font-weight: 300;
}

.display-5 {
    font-size: 2.5rem;
}

@include media-breakpoint-up(lg) {
    .navbar .nav-link,
    .navbar .dropdown-item,
    .sidebar .list-group-item {
        font-size: 0.85em;
    }
}

.CodeMirror {
    font-size: 0.75rem;
}

.table {
    thead th {
        font-size: 0.75em;
        text-transform: uppercase;
        font-weight: 400;
    }
    
    tbody td {
        font-size: 0.85em;
    }
}

.progress-circle p {
    font-size: $progress-circle-font-size;
    line-height: 1.8;
}