@font-face {
    font-family: Assistant;
    src: url('/static/fonts/Assistant/Assistant-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Assistant;
    src: url('/static/fonts/Assistant/Assistant-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Assistant;
    src: url('/static/fonts/Assistant/Assistant-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('/static/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('/static/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('/static/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('/static/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

$headings-font-family:             'Assistant', sans-serif;
$base-font-family:                 'Roboto', sans-serif;
$font-family-serif:                Times, serif;

$headings-font-weight:             400;

$font-size-sm:                     0.85rem;
$badge-font-size:                  $font-size-sm;

$white:                            #FFFFFF;
$gray:                             #404446;
$gray-light:                       #888888;
$black:                            #000000;
$sky:                              #7CC4F3;
$twitter:                          #00ACEE;
$facebook:                         #3B5998;
$googleplus:                       #D34836;
$linkedin:                         #0E76A8;

$brand-primary:                    #D00000;
$brand-success:                    #398439;
$brand-info:                       #4190C2;
$brand-warning:                    #E38D13;
$brand-danger:                     #D00000;
$brand-inverse:                    #141B24;

$body-color:                       #292A2B;

$btn-secondary-color:              $brand-inverse;
$btn-secondary-bg:                 $white;
$btn-secondary-border:             $brand-inverse;

$link-color:                       $brand-danger;
$link-hover-color:                 darken($link-color, 5%);
$link-hover-decoration:            none;

$navbar-inverse-color:             $white;
$navbar-inverse-toggler-border:    none;

$input-padding-x:                  1.25rem;
$input-padding-y:                  .75rem;
$input-border-focus:               $brand-info;

$table-cell-padding:               .75rem 1.25rem;
$table-bg-accent:                  darken($white, 3%);
$table-bg-hover:                   darken($white, 5%);
$table-border-color:               rgba($black, .075);

$pagination-color:                 $brand-info;
$pagination-hover-color:           darken($brand-info, 10%);
$pagination-active-bg:             $brand-info;
$pagination-active-border:         $brand-info;

$card-spacer-y:                    1.5rem;

$spacer:                           1.5rem;

$progress-circle-font-size:        2.5rem;

$box-shadow-spread:                -5px;
$box-shadow-blur:                  7px;
$box-shadows: (
    t: '0 4px', 
    l: '4px 0', 
    r: '-4 0', 
    b: '0 -4px'
);

$fa-font-path:                     '../../fonts/font-awesome';

$ct-series-colors:
    $brand-primary,
    $brand-success,
    $brand-info,
    $brand-warning,
    #453d3f,
    #59922b,
    #0544d3,
    #6b0392,
    #f05b4f,
    #dda458,
    #eacf7d,
    #86797d,
    #b2c326,
    #6188e2,
    #a748ca
;

$icons:
    'cardcatalogues',
    'clock',
    'completed-tasks',
    'contributions',
    'draft',
    'error',
    'featured',
    'playbills',
    'projects',
    'remaining-tasks',
    'volunteers'
;

@import
    "../../node_modules/bootstrap/scss/bootstrap",
    "../../node_modules/font-awesome/scss/font-awesome",
    "../../node_modules/select2/src/scss/core",
    "../../node_modules/pnotify/dist/pnotify",
    "../../node_modules/pnotify/dist/pnotify.buttons",
    "../../node_modules/pnotify/dist/pnotify.brighttheme",
    "../../node_modules/croppie/croppie",
    "../../node_modules/pace-progress/themes/red/pace-theme-minimal",
    "../../node_modules/chartist/dist/scss/chartist.scss",
    "../../node_modules/leaflet/dist/leaflet",
    "../../node_modules/leaflet.markercluster/dist/MarkerCluster",
    "../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default",
    "../../node_modules/bootstrap-toggle/css/bootstrap-toggle",
    "partials/base",
    "partials/typography",
    "partials/transitions",
    "partials/transforms",
    "partials/jumbotron",
    "partials/buttons",
    "partials/navbar",
    "partials/editor",
    "partials/sidebar",
    "partials/utilities",
    "partials/cards",
    "partials/toggle",
    "partials/links",
    "partials/ribbon",
    "partials/progress",
    "partials/patterns",
    "partials/icons",
    "partials/tables",
    "partials/notifications"
;