{% extends "_layouts/dashboard.html" %}
{% set active_page = "admin" %}
{% set active_link = "categories" %}
{% import "_helpers/_admin.html" as admin_helpers %}
{% import "_helpers/_form.html" as form_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}

{% block content %}

{{ admin_helpers.render_title('Categories') }}

<div class="card">
    {{ card_helpers.render_title('Add Category', 'Because we all like putting things into a box') }}
    <div class="card-block pt-1">
        <form method="POST" action="{{ url_for('admin.categories') }}">
            {{ form_helpers.render_field(form.name, placeholder="Category name", class="form-control", required="required") }}
            {{ form_helpers.render_field(form.description, placeholder="Category description", class="form-control", required="required") }}
            <div class="text-right">
                <input id="reset" type="reset" value="Reset" class="btn btn-secondary" role="button" />
                <input id="submit" type="submit" value="Add" class="btn btn-success" role="button" />
            </div>
        </form>
    </div>
</div>

<div class="card my-4">
    {{ card_helpers.render_title('Current Categories', 'Edit or delete current categories') }}
    <div class="table-responsive">
        <table id="featured-table" class="table table-hover table-striped mb-0">
            {{ table_helpers.render_head(['ID', 'Title', 'Projects', 'Edit', 'Delete']) }}
            <tbody>
                {% for c in categories %}
                {{ table_helpers.render_row([c.id, c.name, n_projects_per_category[c.short_name],
                                             '<a href="{0}" class="btn btn-sm btn-outline-primary">Edit</a>'.format(url_for('admin.update_category', id=c.id)),
                                             '<a href="{0}" class="btn btn-sm btn-outline-primary">Delete</a>'.format(url_for('admin.del_category', id=c.id))]) }}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
