{% extends "_layouts/dashboard.html" %}
{% set active_page = "admin" %}
{% set active_link = "dashboard" %}
{% import "_helpers/_general.html" as general_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% set jstop = True %}

{% block content %}

{% assets filters="jsmin", output="dist/js/admin-dashboard.min.js",
    "../node_modules/pace-progress/pace.js",
    "../node_modules/jquery/dist/jquery.js",
    "../node_modules/tether/dist/js/tether.js",
    "../node_modules/bootstrap/dist/js/bootstrap.js",
    "../node_modules/chartist/dist/chartist.js"
    %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if not wait %}
{{ general_helpers.render_title('Admin', 'Dashboard', title_link=[url_for('admin.dashboard', refresh='1'), 'Refresh']) }}

<div class="card-deck">
{{ card_helpers.render_stat('fa-user-plus', new_users_week['series'][0] | sum, 'New users', 'Returning users: {}'.format(returning_users_week['series'][0] | sum)) }}
{{ card_helpers.render_stat('fa-tasks', new_task_runs_week['series'][0] | sum, 'New task runs', 'New tasks: {}'.format(new_tasks_week['series'][0] | sum)) }}
{{ card_helpers.render_stat('fa-users', active_users_last_week['series'][0] | sum, 'Active users', 'Active anonymous users: {}'.format(active_anon_last_week['series'][0] | sum)) }}
</div>

<div class="card mt-4">
    {{ card_helpers.render_title('Returning Users', 'Returning users over the past week') }}
    <div class="card-block pt-0">
        <div id="returning-users"></div>
    </div>
</div>

<div class="card mt-4">
    {{ card_helpers.render_title('Active Users', 'Active users over the past week') }}
    <div class="card-block pt-0">
        <div id="active-users"></div>
    </div>
</div>

<div class="card mt-4">
    {{ card_helpers.render_title('Active Anonymous Users', 'Active anonymous users over the past week') }}
    <div class="card-block pt-0">
        <div id="active-anon-users"></div>
    </div>
</div>

<div class="card mt-4">
    {{ card_helpers.render_title('New tasks', 'Contributions over the past week') }}
    <div class="card-block pt-0">
        <div id="contributions"></div>
    </div>
</div>
{% else %}
{{ general_helpers.render_title('Admin', 'Dashboard') }}
<div class="alert alert-info">
    No data is available yet, please wait for 24 hours.
</div>
{% endif %}

<script>
    const opts = {
        height: '300px',
        onlyInteger: false
    };
    new Chartist.Line('#returning-users', {{ returning_users_week | tojson | safe }}, opts);
    new Chartist.Line('#active-users', {{ active_users_last_week | tojson | safe }}, opts);
    new Chartist.Line('#active-anon-users', {{ active_anon_last_week | tojson | safe }}, opts);
    new Chartist.Line('#contributions', {{ new_task_runs_week | tojson | safe }}, opts);
</script>


{% endblock %}