{% extends "_layouts/dashboard.html" %}
{% set active_page = "admin" %}
{% set active_link = "categories" %}
{% import "_helpers/_general.html" as general_helpers %}
{% import "_helpers/_form.html" as form_helpers %}
{% import "_helpers/_card.html" as card_helpers %}

{% block content %}
{{ general_helpers.render_title('Admin', 'Delete Category') }}
<div class="card">
    {{ card_helpers.render_title('Danger Zone', 'There is no undo!') }}
    <div class="card-block pt-1">
        <div class="alert alert-danger">
            <strong>Warning!</strong> Deleting the category will remove it from all associated projects.
        </div>
        <form method="POST" action="{{ url_for('admin.del_category', id=category.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="text-right">
                <a href="{{ url_for('admin.categories') }}" class="btn btn-secondary" role="button">No, do not delete it</a>
                <input id="submit" type="submit" value="Delete" class="btn btn-danger" role="button" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
