{% extends "_layouts/dashboard.html" %}
{% set active_page = "admin" %}
{% set active_link = "news" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}
{% import "_helpers/_admin.html" as admin_helpers %}

{% block content %}

{{ admin_helpers.render_title('News') }}

<div class="card my-4">
    {{ card_helpers.render_title('Latest news', "Not the most comprehensive news source, it's really just GitHub feeds for PYBOSSA and related repositories.", search_target="#news-table tbody tr") }}
    {% if news %}
    <div id="news-table" class="table-responsive">
        <table class="table table-hover table-striped mb-0">
            {{ table_helpers.render_head(['When', 'Category', 'Repository', 'Title']) }}
            <tbody>
                {% for new in news | sort(reverse=True, attribute="updated") %}
                    {% if 'github' in new.links[0].href %}
                    {% set repo_name = new.links[0].href.split('/')[4] %}
                    {% set repo_url = "".join(new.links[0].href.split('/')[:4]) %}
                    {% set category = new.content[0].base.split('/')[-1].rstrip('.atom') %}
                    {{ table_helpers.render_row(['{0}-{1}-{2}'.format(new.updated[8:10], new.updated[5:7], new.updated[0:4]),
                                                 category,
                                                 '<a target="_blank" href="{0}">{1}</a>'.format(repo_url, repo_name),
                                                 '<a target="_blank" href="{0}">{1}</a>'.format(new.link, new.title)]) }}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <hr class="w-100 mt-2">
    <p class="lead text-center">There are no projects in this category.</p>
    {% endif %}
</div>

{% endblock %}
