{% extends "_layouts/dashboard.html" %}
{% set active_page = "admin" %}
{% set active_link = "featured" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}
{{ general_helpers.render_title('Admin', 'Featured Projects') }}
<div class="d-flex flex-row align-items-center justify-content-center">
    <span class="fa fa-chevron-left mr-2 btn-scroll" data-target="#categories-strip" data-direction="left" role="button"></span>
    <div id="categories-strip" class="card-strip">
        {%- for c in categories %}
            {{ card_helpers.render_icon_button(c.name, '#{0}'.format(c.short_name), icon=c.short_name, tooltip=c.description, active=loop.first) }}
        {%- endfor %}
    </div>
    <span class="fa fa-chevron-right ml-2 btn-scroll" data-target="#categories-strip" data-direction="right" role="button"></span>
</div>
<div class="card mt-4">
    {{ card_helpers.render_title('Projects', 'Feature a project on the home page', search_table="#featured-table") }}
    <div>
        {% for c in categories %}
        <div id="{{ c.short_name }}" {% if not loop.first %}style="display: none;"{% endif %}>
            <div class="table-responsive">
                <table id="featured-table" class="table table-hover table-striped mb-0">
                    {{ table_helpers.render_head(['Name', 'Progress', 'Featured'], center_indexes=[2, 3]) }}
                    <tbody>
                        {% for p in projects[c.short_name] %}
                        <tr>
                            {{ table_helpers.render_cell(p.name) }}
                            {{ table_helpers.render_cell(p.overall_progress, center=True) }}
                            <td class="visible text-center">
                                <a href="#" class="project-toggle-featured btn btn-sm btn-outline-primary" 
                                   data-project-id="{0}" role="button">{% if p.featured %}Remove{% else %}Add{% endif %}</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {{ table_helpers.render_no_data_row(3) }}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
