{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_project.html" as project_helpers %}

{% block content %}

{{ project_helpers.render_title(project, 'Delete Tasks') }}
<div class="alert alert-danger">
    <strong>Warning!</strong> If you delete all task and contribution data it will be gone forever, there is no undo!
</div>
<form method="POST" action="{{ url_for('project.delete_tasks', short_name=project.short_name) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="text-right" role="group">
        <button type="submit" name='btn' class="btn btn-secondary" value="Yes">Yes, delete everything</button>
        <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn btn-danger" role="button">No, do not delete anything!</a>
    </div>
</form>

{% endblock %}
