{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_general.html" as general_helpers %}

{% block content %}
{{ general_helpers.render_title(project.name, 'Delete Tasks') }}
<div class="card">
    {{ card_helpers.render_title('Danger Zone', 'There is no undo!') }}
    <div class="card-block pt-1">
        <div class="alert alert-danger">
            <strong>Warning!</strong> If you delete all task and contribution data it will be gone forever!
        </div>
        <form method="POST" action="{{ url_for('project.delete_tasks', short_name=project.short_name) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="text-right">
                <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn btn-secondary" role="button">No, do not delete anything!</a>
                <button type="submit" name='btn' class="btn btn-danger" value="Yes" role="button">Yes, delete everything</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
