{% extends "_layouts/dashboard.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_project.html" as project_helpers %}
{% import "_helpers/_form.html" as form_helpers %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}

{% block content %}

{{ project_helpers.render_title(project, 'Import Tasks', subtitle='From an Amazon S3 bucket') }}

<div class="card my-4">
    {{ card_helpers.render_title('Import Tasks', 'See the <a href="http://docs.pybossa.com/en/latest/user/overview.html#importing-the-tasks-from-an-amazon-s3-bucket" target="_blank">documentation</a> for more details.') }}
    <div id="objects-container" class="table-responsive" style="display: none;">
        <table class="table table-hover table-striped mb-4">
            {{ table_helpers.render_head(['Title']) }}
            <tbody id="objects">

            </tbody>
        </table>
    </div>
    <div class="card-block pt-1">
        <form method="post" action="{{ url_for(target, short_name=project.short_name) }}">
            {{ form.hidden_tag() }}
            {{ form.files(style="display: none;") }}
            {{ form_helpers.render_field(form.bucket, class="form-control", placeholder="The name of the S3 bucket") }}
            <div class="text-right">
                <a href="{{ url_for('project.import_task', short_name=project.short_name) }}" class="btn btn-secondary">Cancel</a>
                <a href="#" id="get-s3-bucket" class="btn btn-primary" role="button">Load bucket</a>
                <input id="submit" type="submit" value="Import" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

{% endblock %}