{% extends "_layouts/default.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_project.html" as project_helpers %}
{% set active_link = "dashboard" %}

{% block content %}
{% import "_helpers/_form.html" as form_helpers %}
<div class="container container-main">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
            {{ helper.render_loading(loading_text) }}
            <h1><strong>{{project.name}}</strong>: Import tasks</h1>
            {% if form %}
            <hr>
            <div class="row vcenter">
                <h3>From a Twitter hashtag or account</h3>
            </div>
            <form role="form" method="post" action="{{ url_for(target, short_name=project.short_name) }}">
                <fieldset>
                    {{ form.hidden_tag() }}
                    {{ form_helpers.render_field(form.source, class_="input-block-level form-control", placeholder='#hashtag or @user or something else') }}
                    {{ form_helpers.render_field(form.max_tweets, class_="input-block-level form-control") }}
                    <div class="pull-right" role="group">
                        <a href="{{ url_for('project.import_task', short_name=project.short_name) }}" class="btn btn-default">Cancel</a>
                        <input id="import" type="submit" value="Import" class="btn btn-danger" />
                    </div>
                </fieldset>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
