{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% import "_helpers/_project.html" as project_helpers %}
{% set active_link = 'tasks' %}

{% import "_helpers/_form.html" as form_helpers %}

{% block projectcontent %}

<h3>From Youtube</h3>
<br>
<span class="help-inline">Please provide a URL to a Youtube playlist.
</span>
<br>
<div id="objects-container" class="row">
    <ul id="objects"></ul>
</div>
<form class="form-group" method="post" action="{{ url_for(target, short_name=project.short_name) }}">
    <fieldset>
        {{ form.hidden_tag() }}
        {{ form_helpers.render_field(form.playlist_url, placeholder=_("URL of a Youtube Playlist")) }}
    </fieldset>
    <input id="submit" type="submit" value="{{_('Import')}}" class="btn btn-primary" />
</form>
{% endblock %}
{% block extrajs %}
<script>
    $("#submit").off('click').on('click', function(){
            var msg = "{{_('Importing data...')}}";
            notify(msg, true, "loading");
            });
</script>
{% endblock %}