<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if title and brand != title %}{{ title | safe }} | {% endif %}{{ brand }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="British Library">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        {% if block_robots %}
        <meta name="robots" content="noindex, nofollow">
        {% endif -%}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}?v=xM3QjMjGEa">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}?v=xM3QjMjGE2" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}?v=xM3QjMjGE2" sizes="16x16">
        <link rel="manifest" href="{{ url_for('static', filename='img/favicons/manifest.json') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='img/favicons/safari-pinned-tab.svg') }}?v=xM3QjMjGEa" color="#d00000">
        <meta name="apple-mobile-web-app-title" content="LibCrowds">
        <meta name="application-name" content="LibCrowds">
        <meta name="msapplication-TileColor" content="#d00000">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/favicons/mstile-144x144.png') }}?v=xM3QjMjGEa">
        <meta name="msapplication-config" content="{{ url_for('static', filename='img/favicons/browserconfig.xml') }}">
        <meta name="theme-color" content="#da0000">
        {%- assets filters="libsass", output="dist/css/styles.min.css", depends="sass/**/*.scss", "sass/_main.scss" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        {% include "_includes/_ga.js" ignore missing %}
        {% include "_includes/_cookies_warning.html" %}
    </head>
    <body>
        {% if not current_user.is_anonymous() -%}
        <!-- checkpoint::logged-in::{{current_user.name}} -->
        {% endif -%}

        <!-- TODO: Replace staff or admin check when libcrowds-auth updated -->
        {% if current_user.is_authenticated() -%}
            {% set staff_or_admin = (current_user.email_addr.split('@')|length == 2 and current_user.email_addr.split('@')[1] == 'bl.uk') or current_user.admin %}
        {% else %}
            {% set staff_or_admin = False %}
        {% endif -%}

        {% block layout %}
        {% endblock %}

        {% if not jstop %}
        {% assets filters="jsmin", output="dist/js/default.min.js",
                  "../node_modules/pace-progress/pace.js",
                  "../node_modules/jquery/dist/jquery.js",
                  "../node_modules/tether/dist/js/tether.js",
                  "../node_modules/bootstrap/dist/js/bootstrap.js",
                  "../node_modules/jquery-circle-progress/dist/circle-progress.js",
                  "../node_modules/pnotify/dist/pnotify.js",
                  "../node_modules/pnotify/dist/pnotify.buttons.js",
                  "../node_modules/pnotify/dist/pnotify.mobile.js",
                  "../node_modules/croppie/croppie.js",
                  "../node_modules/shufflejs/dist/shuffle.js",
                  "../node_modules/bootstrap-toggle/js/bootstrap-toggle.js",
                  "../node_modules/aos/dist/aos.js",
                  "../node_modules/lightgallery/dist/js/lightgallery.js",
                  "../node_modules/lg-thumbnail/dist/lg-thumbnail.js",
                  "../node_modules/lg-share/dist/lg-share.js",
                  "../node_modules/lg-zoom/dist/lg-zoom.js",
                  "../node_modules/lg-fullscreen/dist/lg-fullscreen.js",
                  "../node_modules/justifiedGallery/dist/js/jquery.justifiedGallery.js",
                  "js/src/notify.js",
                  "js/src/init-aos.js",
                  "js/src/favourites.js"
                  %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% endif %}
        {% assets filters="jsmin", output="dist/js/bottom.min.js",
            "js/src/style-navbar.js",
            "js/src/style-jumbotrons.js",
            "js/src/display-scroll-btns.js",
            "js/src/api-stats.js",
            "js/src/image-error.js",
            "js/src/image-crop.js",
            "js/src/anchor-scroll.js",
            "js/src/progress.js",
            "js/src/s3.js",
            "js/src/shuffle.js",
            "js/src/featured-projects.js",
            "js/src/search.js",
            "js/src/btn-scroll.js",
            "js/src/popovers.js",
            "js/src/tooltips.js",
            "js/src/tab-control.js",
            "js/src/hamburger.js",
            "js/src/sidebar.js"
            %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {%- include "_includes/_sentry.js" %}
        {% include "_includes/_flash_messages.js" %}
        {% include "_includes/_ajax_csrf_token.js" %}
    </body>
</html>