<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if title and brand != title %}{{ title | safe }} | {% endif %}{{ brand }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="British Library">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        {% if block_robots %}
        <meta name="robots" content="noindex, nofollow">
        {% endif %}
        <link href="https://google.com/+LibcrowdsBL" rel="publisher">
        <link rel="shortcut icon" href="/static/img/favicon.png">

        {% assets filters="libsass", output="css/gen/styles.min.css", depends="sass/**/*.scss", "sass/_main.scss"%}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        {% include "_includes/_ga.html" ignore missing %}
        {% include "_includes/_cookies_warning.html" %}
    </head>

    <body>
        {% if not current_user.is_anonymous() %}
        <!-- checkpoint::logged-in::{{current_user.name}} -->
        {% endif %}
    
        <!-- TODO: Replace staff or admin check when libcrowds-auth updated -->
        {% if current_user.is_authenticated() %}
            {% set staff_or_admin = (current_user.email_addr.split('@')|length == 2 and current_user.email_addr.split('@')[1] == 'bl.uk') or current_user.admin %}
        {% else %}
            {% set staff_or_admin = False %}
        {% endif %}
        
        {% block layout %}
        {% endblock %}
        
        {% include "_includes/_sentry.html" %}
        {% if not jstop %}
        {% assets filters="jsmin", output="js/gen/default.min.js",
                  "../node_modules/jquery/dist/jquery.js",
                  "../node_modules/tether/dist/js/tether.js",
                  "../node_modules/bootstrap/dist/js/bootstrap.js",
                  "../node_modules/select2/dist/js/select2.js",
                  "../node_modules/jquery-circle-progress/dist/circle-progress.js",
                  "../node_modules/pnotify/dist/pnotify.js",
                  "../node_modules/pnotify/dist/pnotify.buttons.js",
                  "js/scripts.js",
                  "js/scroll.js",
                  "js/popovers.js",
                  "js/errors.js",
                  "js/progress.js",
                  "js/libcrowds-analyst.js",
                  "js/s3.js",
                  "js/notify.js"
                  %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% endif %}
        {% include "_includes/_flash_messages.html" %}
    </body>
</html>