{% extends "_layouts/base.html" %}
{% set block_robots = True %}

{% block layout %}
{% set staff_or_admin = staff_or_admin %}
{% set active_page = active_page %}
{% set active_link = active_link %}
{% set navbar_class = "navbar navbar-fixed navbar-toggleable-xl navbar-light navbar-dashboard" %}
{% set footer_class = "footer-slim" %}
<div class="vh-100 vw-100">
    <div class="dashboard-menu side">
        <div class="brand-wrapper text-center">
            <a class="brand py-0 text-white" href="{{ url_for('home.home') }}">{{ brand }}</a>
        </div>
        {% if active_page == 'projects' %}
        {% include "_includes/_project_menu.html" %}
        {% elif active_page == 'admin' %}
        {% include "_includes/_admin_menu.html" %}
        {% endif %}
    </div>
    <div class="dashboard d-flex flex-column h-100">
        {% include "_includes/_navbar.html" %}
        <div class="dashboard-menu top">
            {% if active_page == 'projects' %}
            {% include "_includes/_project_menu.html" %}
            {% elif active_page == 'admin' %}
            {% include "_includes/_admin_menu.html" %}
            {% endif %}
        </div>
        <main class="bg-faded">
            <div class="container p-4">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        {% include "_includes/_footer.html" %}
    </div>
</div>
{% endblock %}