{% extends "_layouts/base.html" %}

{% block layout %}

{% set staff_or_admin = staff_or_admin %}
{% set active_page = active_page | default('index') %}
{% set navbar_class = "navbar navbar-fixed navbar-toggleable-xs navbar-light" %}
{% set footer_class = "footer footer-slim bg-white" %}


<div class="vh-100 vw-100">
    <div class="dashboard-sidebar">
        {% if sidebar == 'project' %}
        {% include "_includes/_project_sidebar.html" %}
        {% elif sidebar == 'account '%}
        {% include "_includes/_account_account.html" %}
        {% endif %}
    </div>
    <div class="dashboard-main">
        {% include "_includes/_navbar.html" %}
        <main class="bg-faded">
            {% block content %}
            {% endblock %}
        </main>
        {% include "_includes/_footer.html" %}
    </div>
</div>

{% endblock %}