{% extends "_layouts/base.html" %}

{% block layout %}

{% set staff_or_admin = staff_or_admin %}
{% set active_link = active_link %}
{% set navbar_class = "navbar navbar-fixed navbar-toggleable-xs navbar-light navbar-dashboard" %}
{% set footer_class = "footer footer-slim bg-white" %}


<div class="vh-100 vw-100">
    <div class="sidebar">
        <div class="sidebar-brand-wrapper text-center">
            <a class="sidebar-brand py-0 text-white" href="{{ url_for('home.home') }}">{{ brand }}</a>
        </div>
        {% if active_page == 'projects' %}
        {% include "_includes/_project_sidebar.html" %}
        {% elif active_page == 'account '%}
        {% include "_includes/_account_sidebar.html" %}
        {% elif active_page == 'admin '%}
        {% include "_includes/_admin_sidebar.html" %}
        {% endif %}
    </div>
    <div class="dashboard">
        {% include "_includes/_navbar.html" %}
        <main class="bg-faded">
            <div class="container p-4">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        {% include "_includes/_footer.html" %}
    </div>
</div>

{% endblock %}