{% extends "_layouts/base.html" %}
{% import "_helpers/_general.html" as general_helpers %}

{% block layout %}

{% set prefix = prefix %}
{% set title = title %}
{% set title_link = title_link %}
{% set hide_title = hide_title | default(False) %}
{% set full_width = full_width | default(False) %}
{% set full_width = no_pattern | default(False) %}

{% set staff_or_admin = staff_or_admin %}
{% set active_page = active_page | default('index') %}
{% set navbar_class = "navbar fixed-top navbar-toggleable-md navbar-light" %}
{% set footer_class = "footer bg-white" %}

{% include "_includes/_navbar.html" %}
<main {% if not no_pattern %}class="pattern-white-wall border-0"{% endif %}>
    <div class="container-fluid mt-4 mb-5 pt-3">
        {% if not hide_title %}
        <div class="row mt-5">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            {{ general_helpers.render_title(prefix=prefix, title=title, title_link=title_link) }}
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% if not full_width %}
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            {% endif %}
                {% block content %}
                {% endblock %}
            {% if not full_width %}
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% include "_includes/_footer.html" %}

{% endblock %}