{% extends "_layouts/base.html" %}
{% set jstop = True %}

{% block layout %}
{% assets filters="jsmin", output="js/gen/presenter.min.js",
    "../node_modules/pace-progress/pace.js",
    "../node_modules/jquery/dist/jquery.js",
    "../node_modules/tether/dist/js/tether.js",
    "../node_modules/bootstrap/dist/js/bootstrap.js",
    "../node_modules/openseadragon/build/openseadragon/openseadragon.js",
    "../node_modules/openseadragonselection/dist/openseadragonselection.js",
    "../node_modules/pnotify/dist/pnotify.js",
    "../node_modules/pnotify/dist/pnotify.buttons.js",
    "../node_modules/pnotify/dist/pnotify.mobile.js",
    "../node_modules/bootstrap-toggle/js/bootstrap-toggle.js",
    "../node_modules/intro.js/intro.js",
    "../node_modules/imagesloaded/imagesloaded.pkgd.js",
    "js/notify.js",
    "js/pybossa.js/pybossa.js",
    "js/libcrowds-viewer/libcrowds-viewer.js"
    %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% set staff_or_admin = staff_or_admin -%}
{% set active_page = active_page -%}
{% set navbar_class = navbar_class | default("navbar fixed-top navbar-toggleable-xl navbar-inverse") %}
<div class="vh-100 vw-100">
    <div class="d-flex flex-row h-100">
        {% include "_includes/_navbar.html" %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>
{% endblock %}