{% extends "_layouts/default.html" %}
{% set active_page = "statistics" %}
{% import "_helpers/_card.html" as card_helpers %}
{% set jstop = True %}

{% block content %}
{% assets filters="jsmin", output="js/gen/stats.min.js",
    "../node_modules/pace-progress/pace.js",
    "../node_modules/jquery/dist/jquery.js",
    "../node_modules/tether/dist/js/tether.js",
    "../node_modules/bootstrap/dist/js/bootstrap.js",
    "../node_modules/pnotify/dist/pnotify.js",
    "../node_modules/pnotify/dist/pnotify.buttons.js",
    "../node_modules/pnotify/dist/pnotify.mobile.js",
    "../node_modules/chart.js/dist/Chart.js",
    "../node_modules/leaflet/dist/leaflet.js",
    "../node_modules/leaflet.markercluster/dist/leaflet.markercluster.js",
    "js/notify.js"
    %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<div class="card text-center">
    {{ card_helpers.render_title('Most Active Volunteers') }}
    <div class="card-block pt-0">
        <canvas id="leaderboard"></canvas>
        <script>
            $.ajax({
                url: "/leaderboard",
                contentType: "application/json",
                dataType: 'json'
            }).done(function(results) {
                let ctx   = $("#leaderboard"),
                    data  = {
                        labels: labels = $.map(results.top_users, function(user) {
                            return user.name;
                        }),
                        datasets: [{
                            label: "Contributions",
                            data: $.map(results.top_users, function(user) {
                                return user.score;
                            }),
                            backgroundColor: "rgba(151, 187, 205, 0.2)",
                            borderColor: "rgba(151, 187, 205, 1)",
                            borderWidth: 1
                        }]
                    };
                
                let chart = new Chart(ctx, {
                    type: 'bar',
                    data: data
                });
            });
        </script>
    </div>
    <div class="card-footer bg-white text-center">
        <a class="btn btn-outline-primary" href="{{ url_for('leaderboard.index') }}" role="button">View Leaderboard</a>
    </div>
</div>

{% if show_locs %}
<div class="card text-center mt-4">
    {{ card_helpers.render_title('Locations of Anonymous Volunteers') }}
    <div class="card-block pt-0">
        <div id="map" style="height: 400px;"></div>
        <script>
            let locs  = {{ locs | safe }},
                map   = L.map('map', { scrollWheelZoom: false, minZoom:1 }),
                token = 'pk.eyJ1IjoibGliY3Jvd2RzIiwiYSI6ImNpdmlxaHFzNTAwN3YydHBncHV3dHc3aXgifQ.V4WUx9SDcU_XLFJo2M3RxQ',
                url   = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + token;
                map.fitWorld();
                map.setZoom(2);
                L.tileLayer(url, {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,' + 
                                 '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy;' +
                                 '<a href="http://mapbox.com">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: token
                }).addTo(map);
                
                let markers = new L.MarkerClusterGroup();
                for (var i = 0; i < locs.length; i++) {
                    if (locs[i].loc !== null) {
                        let lat = parseFloat(locs[i].loc.latitude),
                            lng = parseFloat(locs[i].loc.longitude);
                        markers.addLayer(L.marker([lat, lng]));
                    }
                }
                map.addLayer(markers);
        </script>
    </div>
</div>
{% endif %}

<div class="card-deck mt-4">
    <div class="card text-center">
        {{ card_helpers.render_title('Proportion of Authenticated Users') }}
        <div class="card-block pt-0">
            <canvas id="users" style="height:200px;"></canvas>
            <script>
                let userStats = {{ users | safe }},
                    ctx       = $("#users"),
                    data      = {
                        labels: $.map(userStats.values, function(value) {
                            return value.label;
                        }),
                        datasets: [{
                            label: "Contributions",
                            data: $.map(userStats.values, function(value) {
                                return value.value[1];
                            }),
                            backgroundColor: [
                                "rgba(151, 187, 205, 1)",
                                "rgba(186, 0, 0, 1)",
                            ]
                        }]
                    };
                
                let chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: data
                });
            </script>
        </div>
    </div>
</div>

{% endblock %}