{% extends "_layouts/dist/base.html" %}
{% import "_helpers/_general.html" as general_helpers %}

{% block layout %}

{% set prefix = prefix %}
{% set title = title %}
{% set title_link = title_link %}
{% set hide_title = hide_title | default(False) %}
{% set full_width = full_width | default(False) %}

{% set staff_or_admin = staff_or_admin %}
{% set active_page = active_page %}
{% set navbar_class = "navbar fixed-top navbar-toggleable-md navbar-light" %}

{% include "_includes/_navbar.html" %}
<main class="bg-faded">
    <div class="container-fluid my-5 pt-4">
        {% if not hide_title %}
        <div class="row">
            {% if not full_width %}
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            {% endif %}
            {{ general_helpers.render_title(prefix=prefix, title=title, title_link=title_link) }}
            {% if not full_width %}
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="row">
            {% if not full_width %}
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            {% endif %}
                {% block content %}
                {% endblock %}
            {% if not full_width %}
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% include "_includes/_footer.html" %}

{% endblock %}